---
// import Button from "../../subcomponents/Button.astro";
---
<div id ="footer" class="bg-rara buffer pb-c6" >
    <div class="colr-[center,start] h-s4 /xl/ row-[between,center] h-s1">
        <div class="space-y-d3">
            <h1 class="slip text-[h5,bold,_,hug,_,widest,white] mt-d12 /xl/ text-h4 mt-0">We're Ready When You Are.</h1>
            <p class="slip2 text-[h5,_,_,hug,_,_,white]">creative@raraavis.design</p>
            <p class="slip3 text-[h5,_,_,hug,_,_,white]">256-388-9385</p>
        </div>

        <div class="max-w-full">
            <p class="slip text-[h4,bold,_,tight,_,widest,white] /md/ my-d3">Let's Start The Conversation.</p>
            <div class="slip2 col items-stretch space-x-0 w-full /md/ row space-x-d4">
                <input type="email" placeholder="What's Your Email?" class="placeholder:text-white placeholder:text-base bg-transparent flex-grow px-d4 py-d2 my-d4 rounded-md min-w-0 border-[_,d1,solid,white] /md/ my-0">
                <!-- <Button title="Let's Go" id="footerButton" link="#" bgClass="bg-white" textClass="text-black" mobile={true} arrow={true}/> -->
            </div>
        </div>
    </div>

    <div class="col-[start,start] /xl/ row-[between,end]">
        <div class="row-[center,center] space-x-d3">
            <a href = "https://www.facebook.com/profile.php?id=61566898301393"><img class="h-d8 w-auto" src="/images/facebook.svg"></a>
            <a href = "https://www.linkedin.com/company/raraavisdesign"><img class="h-d8 w-auto" src="/images/linkedin.svg"></a>
        </div>
        <h1 class="text-[h4,bold,_,tight,_,_,white] mt-d6 /xl/ text-h3 mt-0">Elevate Your Expectations.</h1>
    </div>
</div>