---
import Contact from "../../subcomponents/Contact.astro";
---


<script>
    import {typeCore} from "@scripts/typeCore"
    document.addEventListener("DOMContentLoaded", () => {
  const form = document.querySelector("form"); // Your form selector
  const textID = "formHead";

  // Strings for desktop and mobile
  const desktopStrings = [
    "<strong>Thanks</strong>, We'll Be In Touch!",
  ];

  const mobileStrings = [
    "<strong>Thanks</strong>, We'll Be In Touch!",
  ];

  // Handle form submission
  form.addEventListener("submit", async (event) => {
    event.preventDefault(); // Prevent default form navigation behavior

    const formData = new FormData(form);
    try {
      const response = await fetch(form.action, {
        method: "POST",
        body: formData,
        headers: {
          Accept: "application/json",
        },
      });

      if (!response.ok) {
        throw new Error("Form submission failed");
      }

      const result = await response.json();
      if (result.success) {
        console.log("Form submitted successfully");

        // Trigger typeCore after form submission
        typeCore(mobileStrings, desktopStrings, textID);
      }
    } catch (error) {
      console.error("Error submitting form:", error);
    }
  });
});
</script>




<div id ="footer" class="bg-rara buffer pb-c6" >
    <div class="colr-[center,start] h-s4 /xl/ row-[between,center] h-s1">
        <div class="space-y-d3">
            <h1 class="slip text-[h5,bold,_,hug,_,widest,white] mt-d12 /xl/ text-h4 mt-0">We're Ready When You Are.</h1>
            <p class="slip2 text-[h5,_,_,hug,_,_,white]">creative@raraavis.design</p>
            <p class="slip3 text-[h5,_,_,hug,_,_,white]">256-388-9385</p>
        </div>

        <div class="max-w-full">
            <p id = "formHead" class="slip text-[h4,bold,_,tight,_,widest,white] /md/ my-d3">Let's Start The Conversation.</p>
            <Contact></Contact>
        </div>
    </div>

    <div class="col-[start,start] /xl/ row-[between,end]">
        <div class="row-[center,center] space-x-d3">
            <a href = "https://www.facebook.com/profile.php?id=61566898301393"><img class="h-d8 w-auto" src="/images/facebook.svg"></a>
            <a href = "https://www.linkedin.com/company/raraavisdesign"><img class="h-d8 w-auto" src="/images/linkedin.svg"></a>
        </div>
        <h1 class="text-[h4,bold,_,tight,_,_,white] mt-d6 /xl/ text-h3 mt-0">Elevate Your Expectations.</h1>
    </div>
</div>