---

interface Props {
    ui?: number;
    promo?: number;
    rebrand?:number;
    logo?:number;
}

const { ...props } = Astro.props;
---

<div class = "absolute top-0 right-0 w-full row-[end,center] space-x-d2 pt-d4 pr-d4">

{props.ui && (
    <div class = "px-d4 py-d2 bg-warn text-white text-small rounded-full shadow-sm">
        <p>UI/UX</p>
    </div>
)}

{props.promo && (
    <div class = "px-d4 py-d2 bg-purple text-white text-small rounded-full shadow-sm">
        <p>Promo</p>
    </div>
)}

{props.rebrand && (
    <div class = "px-d4 py-d2 bg-error text-white text-small rounded-full shadow-sm">
        <p>Rebrand</p>
    </div>
)}

{props.logo && (
    <div class = "px-d4 py-d2 bg-white text-black text-small rounded-full shadow-sm">
        <p>Logo</p>
    </div>
)}

</div>