<div>
    <div class="w-full buffer col-[center,center]">
        <h2 class="slip text-[h4,bold,_,tight,_,_,black] mb-d3 leading-relaxed /md/ text-h3">You Deserve More</h2>
        <p class="slip2 text-[h6,normal,_,tight,_,_,darkgrey] mb-d6 max-w-medium leading-loose text-center">Our independent creative consultancy was founded with a singular vision: to deliver agency-caliber creative services to small businesses. We offer uncompromising quality and artistic excellence at a competitive price point, bridging the gap between premium creativity and accessibility. By leveraging our expertise, we empower small enterprises to harness the full potential of world-class design, enabling them to stand out in today's competitive marketplace.</p>
    </div>
  </div>