---
import SmartBadge from "../../subcomponents/SmartBadge.astro";
---

<div class=" buffer w-full buffer grid-[1,1,d6] /lg/ grid-[3,2,d6]">

  <div class="span-[1,2] space-y-d6 col-[center,center] h-full"> <!-- Added col-[center,center] and h-full -->
    <div class="flex flex-col w-full flex-1"> <!-- Added flex-1 -->
      <div class="relative h-s1 /lg/ flex-grow h-0"> <!-- Replaced h-s2 and /lg/ h-full with flex-grow h-0 -->
        <img src="/images/carneyscene.png" alt="Poured Promo" class="w-full h-full object-cover object-center rounded-[24px]"   style="clip-path: polygon( 0% 0%,0% 100%,0% 100%,1.265% 100%,4.7% 100%,9.761% 100%,15.906% 100%,22.594% 100%,29.282% 100%,35.428% 100%,40.489% 100%,43.923% 100%,45.189% 100%,45.189% 100%,45.969% 99.937%,46.709% 99.755%,47.4% 99.463%,48.03% 99.072%,48.591% 98.591%,49.072% 98.03%,49.463% 97.4%,49.755% 96.709%,49.937% 95.969%,50% 95.189%,50% 94.834%,50% 94.834%,50.063% 94.05%,50.246% 93.306%,50.54% 92.612%,50.933% 91.979%,51.416% 91.416%,51.979% 90.933%,52.612% 90.54%,53.306% 90.246%,54.05% 90.063%,54.834% 90%,95.06% 90%,95.06% 90%,95.861% 89.935%,96.621% 89.748%,97.33% 89.449%,97.977% 89.047%,98.553% 88.553%,99.047% 87.977%,99.449% 87.33%,99.748% 86.621%,99.935% 85.861%,100% 85.06%,100% 0%,100% 0%,97.2% -21.333%,89.6% -33.711%,78.4% -38.715%,64.8% -37.924%,50% -32.921%,35.2% -25.283%,21.6% -16.592%,10.4% -8.428%,2.8% -2.37%,0% -0% );">
        <SmartBadge promo={1} logo={1}></SmartBadge>
        <h4 class="absolute bottom-d3 left-d6 text-white text-base mt-d6">Logo & Promotional</h4>
      <h4 class="absolute bottom-0 right-d2 text-darkgrey text-base">Carney Bookkeeping</h4>
      </div>
    </div>
    
    <div class="flex flex-col w-full flex-1"> <!-- Added flex-1 -->
      <div class="relative h-s1 /lg/ flex-grow h-0"> <!-- Replaced h-s and /lg/ h-full with flex-grow h-0 -->
        <img src="/images/bentonsscene.png" alt="Hungry Promo" class="w-full h-full object-cover object-center rounded-[24px]" style="clip-path: polygon( 0% 0%,0% 100%,0% 100%,1.265% 100%,4.7% 100%,9.761% 100%,15.906% 100%,22.594% 100%,29.282% 100%,35.428% 100%,40.489% 100%,43.923% 100%,45.189% 100%,45.189% 100%,45.969% 99.937%,46.709% 99.755%,47.4% 99.463%,48.03% 99.072%,48.591% 98.591%,49.072% 98.03%,49.463% 97.4%,49.755% 96.709%,49.937% 95.969%,50% 95.189%,50% 94.834%,50% 94.834%,50.063% 94.05%,50.246% 93.306%,50.54% 92.612%,50.933% 91.979%,51.416% 91.416%,51.979% 90.933%,52.612% 90.54%,53.306% 90.246%,54.05% 90.063%,54.834% 90%,95.06% 90%,95.06% 90%,95.861% 89.935%,96.621% 89.748%,97.33% 89.449%,97.977% 89.047%,98.553% 88.553%,99.047% 87.977%,99.449% 87.33%,99.748% 86.621%,99.935% 85.861%,100% 85.06%,100% 0%,100% 0%,97.2% -21.333%,89.6% -33.711%,78.4% -38.715%,64.8% -37.924%,50% -32.921%,35.2% -25.283%,21.6% -16.592%,10.4% -8.428%,2.8% -2.37%,0% -0% );">
        <SmartBadge rebrand={1} promo={1} logo={1}></SmartBadge>
        <h4 class="absolute bottom-d3 left-d6 text-white text-base mt-d6">Redesigned Website</h4>
        <h4 class="absolute bottom-0 right-d2 text-darkgrey text-base">Benton's Inc</h4>
      </div>

    </div>
  </div>

  <div class = "span-[1,1] /lg/ span-[2,2]">
    
    <div class = "h-full flex flex-col">
      <div class = "relative h-s1 w-full rounded-[24px] /lg/ h-s7 overflow-hidden">
        <img src="/images/enszscene.png" alt="Benton Promo" class = "w-full h-full object-cover object-center rounded-[24px]" style="clip-path: polygon( 0% 0%,0% 100%,0% 100%,1.265% 100%,4.7% 100%,9.761% 100%,15.906% 100%,22.594% 100%,29.282% 100%,35.428% 100%,40.489% 100%,43.923% 100%,45.189% 100%,45.189% 100%,45.969% 99.937%,46.709% 99.755%,47.4% 99.463%,48.03% 99.072%,48.591% 98.591%,49.072% 98.03%,49.463% 97.4%,49.755% 96.709%,49.937% 95.969%,50% 95.189%,50% 94.834%,50% 94.834%,50.063% 94.05%,50.246% 93.306%,50.54% 92.612%,50.933% 91.979%,51.416% 91.416%,51.979% 90.933%,52.612% 90.54%,53.306% 90.246%,54.05% 90.063%,54.834% 90%,95.06% 90%,95.06% 90%,95.861% 89.935%,96.621% 89.748%,97.33% 89.449%,97.977% 89.047%,98.553% 88.553%,99.047% 87.977%,99.449% 87.33%,99.748% 86.621%,99.935% 85.861%,100% 85.06%,100% 0%,100% 0%,97.2% -21.333%,89.6% -33.711%,78.4% -38.715%,64.8% -37.924%,50% -32.921%,35.2% -25.283%,21.6% -16.592%,10.4% -8.428%,2.8% -2.37%,0% -0% );">
        <SmartBadge promo={1}></SmartBadge>
        <h4 class="absolute bottom-d3 left-d6 text-white text-base mt-d6">Total Rebranding</h4>
        <h4 class="absolute bottom-0 right-d2 text-darkgrey text-base">Ensz & Sons</h4>
      </div>
     
    </div>

  </div>
   


</div>

