<div class="w-full buffer bg-grey py-c6 grid-[1,1,d6] /lg/ grid-[3,1,d6]">
    <div class="col-span-1 col-[center,start]">
    <p class ="text-base mb-d1 text-nowrap">Case Study</p>
    <p class ="text-[h5,bold,_,tight,_,_,black] mb-d6 text-nowrap">Benton's Inc</p>
    <h1 class="text-[h4,bold,_,tight,_,_,black] mb-d6 max-w-extra-narrow leading-relaxed">Bringing It Home: Benton's Does Your Household Maintenance Differently.</h1>
    <p class="text-[h6,normal,_,tight,_,_,darkgrey] mb-d6 max-w-narrow leading-loose">Benton's Inc. stands as a pillar of community-focused home maintenance, specializing in HVAC, plumbing, and electrical services. Their people-first approach sets them apart in an industry often criticized for impersonal service. By prioritizing prompt phone responses, punctual arrivals, and delivering exceptional quality work, Benton's has earned a reputation for reliability and professionalism. Our collaboration with Benton's Inc involved a comprehensive brand overhaul, breathing new life into their visual identity and positioning them for continued success in their market.</p>
    <p class="text-[h6,normal,_,tight,_,_,darkgrey] max-w-narrow leading-loose">As part of this rebranding effort, we crafted a modern, user-friendly website that showcases their expertise and makes it easy for customers to engage their services. Beyond the purely digital realm, our team manages Benton's social media presence, ensuring consistent community engagement and reinforcing their position as a trusted local resource. Through strategic content and timely updates, we've helped Benton's Inc. strengthen their connection with both existing and potential customers. This multifaceted approach has solidified their status as the go-to provider for home maintenance needs in their service area, further emphasizing their commitment to quality service and community values.</p>
    <a href ="https://www.bentonsinc.com" class="text-white text-base bg-black mt-d6 mb-c3 text-nowrap px-d4 py-d2 rounded-lg font-sans font-bold">Visit Benton's</a>
  </div>
    
   

    <div class="col-span-1 w-full grid-[1,1,d6] /lg/ h-s7 grid-[3,2,d6] col-span-2">

        <div class = "grid-[2,2,d6] col-span-1 rounded-[24px] overflow-hidden row-span-2 /lg/ col-span-2">
            <div class = "col-span-2 row-span-2 grid grid-rows-[1fr,auto,auto] h-full">
                <img src="/images/bentonslaptop.png" alt="Benton Promo" class="h-s1 w-full object-cover object-center rounded-md /lg/ h-full">
            </div>
        </div>
    
        <div class="col-span-1 row-span-2 grid-[1,2,d6]">
          <div class = "bg-[#253961] rounded-[24px]">
            <div class="bg-contain bg-no-repeat bg-center h-s1 /lg/ h-full" style="background-image: url('/images/bentonssurge.jpg');">
            </div>
          </div>
          <div>
            <div class="bg-cover bg-center rounded-[24px] h-s1 /lg/ h-full" style="background-image: url('/images/bentonstva.png');">
            </div>
          </div>
        </div>
      </div>



  </div>