---
import Contact from "../../subcomponents/Contact.astro";
import { gsap } from 'gsap';
---


<script>
    import {typeCore} from "@scripts/typeCore"
    document.addEventListener("DOMContentLoaded", () => {
  const form = document.querySelector("form"); // Your form selector
  const textID = "formHead";

  // Strings for desktop and mobile
  const desktopStrings = [
    "Thanks! We'll Be In Touch.",
  ];

  const mobileStrings = [
    "Thanks! We'll Be In Touch.",
  ];

  // Handle form submission
  form.addEventListener("submit", async (event) => {
    event.preventDefault(); // Prevent default form navigation behavior

    let heading = document.querySelector("#formHead");
        let body = document.querySelector("#formActual");
        body.classList.add('fade-out')
        
        gsap.to(body, {
        opacity: 0, // Set opacity to 0 for fade-out effect
        duration: 1,
         })


        typeCore(mobileStrings, desktopStrings, textID);

    const formData = new FormData(form);
    try {
      const response = await fetch(form.action, {
        method: "POST",
        body: formData,
        headers: {
          Accept: "application/json",
        },
      });

      if (!response.ok) {
        throw new Error("Form submission failed");
      }

      const result = await response.json();
      if (result.success) {
        console.log("Form submitted successfully");
        // Trigger typeCore after form submission
      }
    } catch (error) {
      console.error("Error submitting form:", error);
    }
  });
});
</script>




<div id ="footer" class="bg-color:fpurple contain pd-b:c6" >
    <div class="scope:footer col-r:y-center:x-start h:s4 mg-b:d8 /xl/ row:x-between:y-center h:s1">
        <div class="">
            <h1 class="-slip font:h5:bold:widest:sans text:fwhite:hug mg-t:d12 /xl/ font:h4 mg-t:0">We're Ready When You Are.</h1>
            <p class="-slip2 font:h5:sans text:fwhite:hug mg-t:d4">creative@raraavis.design</p>
            <p class="-slip3 font:h5:sans text:fwhite:hug mg-t:d4">256-388-9385</p>
        </div>

          <div>
              <div class="/md/ mg-t:d3 mg-b:d3">
                <span id = "formHead" class="font:h4:bold:tight:widest:sans text:fwhite">Let's Start The Conversation.</span>
              </div>
              <div id="formActual">
                <Contact></Contact>
              </div>
          </div>
    </div>

    <div class="col:x-start:y-start /xl/ row:x-between:y-end">
        <div class="row:x-center:y-center">
            <a href = "https://www.facebook.com/profile.php?id=61566898301393"><img class="h:d8 w:auto mg-r:d4" src="/images/facebook.svg"></a>
            <a href = "https://www.linkedin.com/company/raraavisdesign"><img class="h:d8 w:auto" src="/images/linkedin.svg"></a>
        </div>
        <h1 class="font:h4:bold:tight:sans text:fwhite mg-t:d6 /xl/ font:h3 mg-t:0">Elevate Your Expectations.</h1>
    </div>
</div>