---
---

<script>
import { animate, scroll} from "motion";

document.addEventListener("DOMContentLoaded", () => {
  const threshold = 768;

  // Only run if the viewport width is above the threshold.
  if (window.innerWidth > threshold) {
    let quote = document.getElementById("navSpacer");
    let nav = document.getElementById("primaryNavContainer");
    let logo = document.getElementById("primaryNavLogo");
    let contact = document.getElementById("primaryNavContact");
    let notch = document.getElementById("navNotch");
    let originalColor = nav.style.backgroundColor;
    let originalRadius = nav.style.borderRadius;
    let originalPaddingTop = nav.style.paddingTop;
    let originalPaddingBottom = nav.style.paddingBottom;
    let originalPaddingLeft = nav.style.paddingLeft;
    let originalPaddingRight = nav.style.paddingRight;
    let originalNotchColor = notch.style.backgroundColor;

    let compressNav = (progress) => {

      if (progress > 0.1) { 
        nav.style.backgroundColor = "rgba(12,15,10,0.6)";
        nav.style.borderRadius = "2rem";
        logo.style.display = "none";
        nav.style.width = "19.5rem";
        nav.style.paddingTop = "0.5rem";
        nav.style.paddingBottom = "0.5rem";
        nav.style.paddingLeft = "0.5rem";
        nav.style.paddingRight = "0.5rem";
        quote.style.display = "none";
        nav.style.marginTop = "1rem";
        contact.style.display = "none";
        notch.style.backgroundColor = "rgba(12,15,10,0.5)";


      } else {
        nav.style.backgroundColor = originalColor;
        nav.style.borderRadius = originalRadius;
        nav.style.width = "100%";
        logo.style.display = "block";
        nav.style.paddingTop = originalPaddingTop;
        nav.style.paddingBottom = originalPaddingBottom;
        nav.style.paddingLeft = originalPaddingLeft;
        nav.style.paddingRight = originalPaddingRight;
        quote.style.display = "flex";
        nav.style.marginTop = "0";
        contact.style.display = "flex";
        notch.style.backgroundColor = originalNotchColor;
      }
    };

    // This assumes you have a 'scroll' function that provides the progress value.
    scroll(progress => compressNav(progress));
  }
});




</script>

<!-- Fixed Header Container -->
<div class = "fixed top:0 w:full z:2000">
  <!-- Spacer -->
  <div id = "navSpacer" class="pd-y:d7">
  </div>

  <!-- Navigation Bar -->
  <div class = "contain row:x-center:y-center mg-x:d6">
    <nav id="primaryNavContainer" style = "backdrop-filter:blur(25px);background-color:rgba(255,255,255,0.04)" class="transition:slow pd-x:d4 pd-y:d4 bd:round-d4">

      <div id = "primaryNavInternal" class = "row:x-center:y-center relative">

          <img id="primaryNavLogo" class="h:d9 w:auto absolute left:0" src="/images/LogoLight.svg" alt="Logo" />
          <div id="navMenu" class="hidden /sm/ row">
            <ul id = "navNotch" class = "row:x-center:y-center gap:d3 bd:round-d6 pd-y:d3 pd-x:d10">
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/">Home</a></li>
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/about">About</a></li>
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/works">Works</a></li>
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/works">Pricing</a></li>
            </ul>
          </div>
          <a id = "primaryNavContact" href = "#footer" style = "top:50%;transform:translateY(-50%)" class = "ctx:primarynavcontact hidden /sm/ row:x-center:y-center bg-color:fwhite text:fblack absolute right:0 pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 child:start font:sans bd:round-d2 font:bold row:x-center ctx:end">Contact Us<img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg"></a>
          <div id = "mobileOpen" class="overflow:hidden col:x-center:y-center absolute right:0">
            <img class="ctx:mobilenavbutton block h:d8 w:d8 /sm/ hidden ctx:end" src="/images/menu.svg" alt="Logo" />
          </div>

      </div>

    </nav>
  </div>


</div>

