---
import SmartButton from "../../subcomponents/SmartButton.astro";
---

<script>
import { animate, scroll} from "motion";

document.addEventListener("DOMContentLoaded", () => {

  let quote = document.getElementById("quoteBar")
  let nav = document.getElementById("primaryNavContainer")
  let logo = document.getElementById("primaryNavLogo")
  let originalColor = nav.style.backgroundColor
  let originalRadius = nav.style.borderRadius
  let originalPaddingTop = nav.style.paddingTop
  let originalPaddingBottom = nav.style.paddingBottom
  let originalPaddingLeft = nav.style.paddingLeft
  let originalPaddingRight = nav.style.paddingRight
  

  let compressNav = (progress) => {
    console.log(progress.toFixed(1))

    if (progress > 0.1) {
    nav.style.backgroundColor = "rgba(0,0,0,0.8)";
    nav.style.borderRadius = "1rem";
    logo.style.display = "none";
    nav.style.width = "16rem";
    nav.style.paddingTop = "0.5rem";
    nav.style.paddingBottom = "0.5rem";
    nav.style.paddingLeft = "0.5rem";
    nav.style.paddingRight = "0.5rem";
    quote.style.display = "none";
    nav.style.marginTop = "0.5rem";

  }

    else {
      nav.style.backgroundColor = originalColor;
      nav.style.borderRadius = originalRadius;
      nav.style.width = "100%";
      logo.style.display = "block";
      nav.style.paddingTop = originalPaddingTop;
      nav.style.paddingBottom = originalPaddingBottom;
      nav.style.paddingLeft = originalPaddingLeft;
      nav.style.paddingRight = originalPaddingRight;
      quote.style.display = "flex";
      nav.style.marginTop = "0";


    }
}

  scroll(progress => compressNav(progress))
});



</script>

<!-- Fixed Header Container -->
<div class = "fixed top:0 w:full">
  <!-- Quote Bar -->
  <div id = "quoteBar" class="bg-color:black pd-y:d4 row:x-center:y-center">
    <p class="font:sans:base text:white">"Simplicity is the Ultimate Sophistication"</p>
  </div>

  <!-- Navigation Bar -->
  <nav id="primaryNavContainer" class="contain bg-color:purple transition:slow pd-y:d8">

    <div id = "primaryNavInternal" class = "row:x-center:y-center relative">

        <img id="primaryNavLogo" class="h:d8 w:auto absolute left:0" src="/images/LogoLight.svg" alt="Logo" />
        <div id="navMenu" class="hidden /sm/ row">
          <ul class = "row:x-center:y-center gap:d3">
            <li class="-box inline-block text:white font:sans:base"><a href = "/">Home</a></li>
            <li class="-box inline-block text:white font:sans:base"><a href = "/about">About</a></li>
            <li class="-box inline-block text:white font:sans:base"><a href = "/works">Works</a></li>
          </ul>
        </div>
        <div style = "top:50%;transform:translateY(-50%)" class = "bg-color:white text:black absolute right:0 pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 child:start font:sans font:bold row:x-center /sm/ row:x-center:y-center">Contact Us</div>
        <div id = "mobileButton" class="overflow:hidden col:x-center:y-center ">
          <img class="scope:mobilenavbutton block /sm/ hidden" src="/images/menu.svg" alt="Logo" />
        </div>

    </div>

  </nav>


</div>

