---
---

<script>
import {animate, scroll} from "motion";

function initNav () {

  // Only run if the viewport width is above the threshold.
 
    let quote = document.getElementById("navSpacer");
    let nav = document.getElementById("primaryNavContainer");
    let logo = document.getElementById("primaryNavLogo");
    let contact = document.getElementById("primaryNavContact");
    let notch = document.getElementById("navNotch");
    let placeMat = document.getElementById("placeMat");
    let originalColor = nav.style.backgroundColor;
    let originalRadius = nav.style.borderRadius;
    let originalPaddingTop = nav.style.paddingTop;
    let originalPaddingBottom = nav.style.paddingBottom;
    let originalPaddingLeft = nav.style.paddingLeft;
    let originalPaddingRight = nav.style.paddingRight;
    let originalNotchColor = notch.style.backgroundColor;

    let compressNav = (progress) => {


        if (progress > 0.025 && window.innerWidth > 768) { 
          nav.style.backgroundColor = "rgba(12,15,10,0.6)";
          nav.style.borderRadius = "2rem";
          nav.style.width = "20.5rem";
          nav.style.paddingTop = "0.5rem";
          nav.style.paddingBottom = "0.5rem";
          nav.style.paddingLeft = "0.5rem";
          nav.style.paddingRight = "0.5rem";
          quote.style.display = "none";
          nav.style.marginTop = "1rem";
          contact.style.display = "none";
          logo.style.display = "none";
          notch.style.backgroundColor = "rgba(12,15,10,0.5)";
          if (!placeMat.classList.contains("contain")) {
            placeMat.classList.add("contain");
          }
          }

        else if (progress < 0.025 && window.innerWidth > 768) {
          nav.style.backgroundColor = originalColor;
          nav.style.borderRadius = originalRadius;
          nav.style.width = "100%";
          logo.style.display = "block";
          nav.style.paddingTop = originalPaddingTop;
          nav.style.paddingBottom = originalPaddingBottom;
          nav.style.paddingLeft = originalPaddingLeft;
          nav.style.paddingRight = originalPaddingRight;
          quote.style.display = "flex";
          nav.style.marginTop = "0";
          contact.style.display = "flex";
          notch.style.backgroundColor = originalNotchColor;
          if (!placeMat.classList.contains("contain")) {
            placeMat.classList.add("contain");
          }
        }

        else {
          nav.style.backgroundColor = "transparent";
          nav.style.borderRadius = originalRadius;
          nav.style.width = "100%";
          logo.style.display = "block";
          nav.style.paddingTop = originalPaddingTop;
          nav.style.paddingBottom = originalPaddingBottom;
          nav.style.paddingLeft = originalPaddingLeft;
          nav.style.paddingRight = originalPaddingRight;
          quote.style.display = "flex";
          nav.style.marginTop = "0";
          contact.style.display = "none";
          notch.style.backgroundColor = "transparent";
          placeMat.classList.remove("contain");
        }

    
    

    };

    // This assumes you have a 'scroll' function that provides the progress value.
    scroll(progress => compressNav(progress));
  
}

// run on load
document.addEventListener("DOMContentLoaded", initNav);

// run on every resize
window.addEventListener("resize", initNav);




</script>

<!-- Fixed Header Container -->
<div class = "fixed top:0 w:full z:2000">
  <!-- Spacer -->
  <div id = "navSpacer" class="pd-y:d4">
  </div>

  <!-- Navigation Bar -->
  <div id = "placeMat" class = "contain row:x-center:y-center mg-x:d6 mg-t:d3 /lg/ mg-t:0">
    <nav id="primaryNavContainer" class="transition:slow pd-y:d4 bd:round-d4">

      <div id = "primaryNavInternal" class = "row:x-center:y-center relative">

          <img id="primaryNavLogo" class="h:d9 w:auto absolute left:0" src="/images/LogoLight.svg" alt="Logo" />
          <div id="navMenu" class="ctx:navMenu">
            <ul id = "navNotch" class = "invisible /sm/ visible row:x-center:y-center gap:d6 bd:round-d6 pd-y:d3 pd-x:d8">
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/">Home</a></li>
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/about">About</a></li>
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/works">Works</a></li>
              <li class="-box inline-block text:fwhite font:sans:base"><a href = "/pricing">Pricing</a></li>
            </ul>
          </div>
          <a id = "primaryNavContact" href = "#footer" style = "top:50%;transform:translateY(-50%)" class = "row:x-center:y-center bg-color:fwhite text:fblack absolute right:0 pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 child:start font:sans bd:round-d2 font:bold row:x-center ctx:end">Contact Us<img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg"></a>
          <div id = "mobileOpen" class="ctx:mobileOpen overflow:hidden col:x-center:y-center absolute right:0 /md/ hidden">
            <img class="ctx:mobileNav h:d8 w:d8 ctx:end" src="/images/menu.svg" alt="Logo" />
          </div>

      </div>

    </nav>
  </div>


</div>

