<div class="scope:cascadeTitle contain w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-4-fr:rows-1:gap-d12">
        
    <div class = "col-spans:from-1:to-3 bd:round-d6 col:x-start:y-between"> 
        <h2 class = "font:h6:regular:sans text:findigogray mg-b:d6">IV. Our Story</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief">
            By leveraging our expertise and bridging the gap between premium creativity and accessibility, we empower small enterprises to harness the full potential of world-class design, enabling them to stand out in today's competitive marketplace.</p>
    </div>

    <div class = "col-spans:from-3:to-5 bd:round-d6 col:y-center:x-start"> 
        <div class = "col:x-start:y-center">
            <h2 class="-slip font:sans:h4:light:wide text:findigogray:normal mg-b:d6">Our <span class = "text:white font:serif">independent</span> creative consultancy was founded with a <span class = "text:white font:serif">singular vision</span>: to deliver agency-caliber creative services to <span class = "text:white font:serif">small businesses</span>. We offer uncompromising quality and artistic excellence at a competitive price point</h2>
        </div>
    </div>

</div>