<header class="-fade-in contain">
    <div class="w:full h:s4 bg-repeat:no-repeat bg-size:cover bg-position:center-center /md/ h:s8" style="background-image:url('/images/RaraPhone.png')">
    </div>
</header>