<div class="scope:cascadeTitle contain w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "col-spans:from-1:to-3 bd:round-d6 col:x-start:y-between"> 
        <h2 class = "font:h6:regular:sans text:findigogray mg-b:c3">II. Quality Is Our Philosophy</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief">
            We live at the intersection of art and technology, harnessing creativity and innovation to bring your brand's vision to life. Our passionate team collaborates to craft digital experiences and develop breakthrough branding solutions that empower small businesses. </p>
    </div>

    <div class = "col-spans:from-3:to-6 bd:round-d6 col:y-between:x-start"> 
        <div class = "col:x-end:y-end h:full">
            <h2 class="block font:sans:h4:light:wide text:findigogray:normal:right">We believe that <span class = "text:white font:serif">every idea</span> has the potential to ignite transformative change for your business, and we're here to bring those <span class = "text:white font:serif">bold dreams</span> into reality. </h2>
        </div>

    </div>

</div>