
<div class="ctx:scopeTESTING w:full col:x-start:y-end /lg/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "h:full bd:round-d6 col:x-start:y-between /lg/ col-spans:from-1:to-3"> 
        <h2 class = "font:h6:regular:sans text:fwhite mg-b:d6 /lg/ mg-b:c3">We Don't Compromise</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief mg-b:d6 /lg/ mg-b:0">
           We partner with entrepeneurs and founders on their small businesses to turn local vision into living brands. Through bold design, clever code, and honest collaboration we create print and digital experiences that spark growth and earn community trust.</p>
    </div>

    <div class="bd:round-d6 col:y-between:x-end /lg/ col-spans:from-3:to-6"> 
        <h2 class="ctx:introTitle block font:sans:h4:light:wide text:findigogray:normal:blob /lg/ font:h3">
          Your <span class="text:white font:serif">passion</span> is your work. We hand craft <span class="text:white font:serif">every word, every pixel, every line of code</span> of ours to take your business further.
        </h2>
      </div>
      


</div>

