<header class="buffer mb-d6 mt-d3">
    <div class="fade-in w-full h-s4 bg-no-repeat bg-cover bg-center rounded-md /md/ h-s8" style="background-image:url('/images/RaraPhone.png')">
    </div>
</header>