<div class="ctx:pricingSpread w:full col:x-start /lg/ grid:cols-5-fr:rows-1:gap-d12">
    
    <div class = "col-spans:from-1:to-4 bd:round-d6 col:y-end:x-start"> 
        <div class = "col:x-start:y-between">
            <h2 class = "ctx:spreadAlt font:h6:regular:sans text:fwhite mg-b:d6 /lg/ mg-b:c3 ctx:end">You Should Too</h2>
            <h2 class="font:sans:h4:light:wide text:blob:findigogray:normal mg-b:d6 /lg/ font:h3 mg-b:0">Choose a bundle and <span class = "text:white font:serif">save big</span> with a little of everything, or ask for just what your business needs and <span class = "text:white font:serif">get a quote</span> today.</h2>
        </div>
    </div>


    <div class = "col-spans:from-4:to-6 bd:round-d6 col:x-end:y-start mg-t:auto"> 
        <div class = "col:x-start:y-end">
           <p class = "font:h6:sans:regular:tight text:findigogray:brief ctx:end"> You're paying for results, not surprises. We blend strategy and craft, priced for ambitious small businesses.  Our design, code, and data are structured to launch sharper brands, speed up revenue, and keep budgets predictable.</p>
        </div>
    </div>


</div>

