<div class="ctx:pricingQuote w:full col:x-start /lg/ grid:cols-5-fr:rows-1:gap-d12">
    
    <div class = "col-spans:from-1:to-4 bd:round-d6 col:y-end:x-start"> 
        <div class = "col:x-start:y-between">
            <h2 class = "font:h6:regular:sans text:fwhite mg-b:d6 /lg/ mg-b:c3">Social Media Made Easy</h2>
            <h2 class="font:sans:h4:light:wide text:chunk:findigogray:normal mg-b:d6 /lg/ mg-b:0">We'll take your brand's <span class = "text:white font:serif">online presence</span> to a <span class = "text:white font:serif">whole new level</span> with our monthly <span class = "text:white font:serif">social media</span> plans.</h2>
        </div>

    </div>


    <div class = "col-spans:from-4:to-6 bd:round-d6 col:x-end:y-end mg-t:auto"> 
        <div class = "col:x-start:y-end">
           <p class = "font:h6:sans:regular:tight text:findigogray:brief ctx:end">We offered tailored plans for your social media management. We'll work with you to find a strategy that works for your business and to bring your brand directly to your ideal customers each and every month.</p>
        </div>
    </div>


</div>

