<div class = "ctx:socialGrid col:x-start">

    <div class = "w:full col-r:x-start:y-start /xl/ grid:cols-9-fr:rows-1:gap-d6">

        <div class = "bd:findigogray:solid:width-d0 col-spans:from-1:to-4 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 /2xl/ mg-b:0">

            <p class = "font:sans:h6:light:wide text:chunk:fwhite:normal mg-b:d4 /md/ font:h5">Entrepreneur Social</p>

            <h2 class = "font:sans:h4:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h3">$990<span class = "font:h5">/mo</span></h2>

            <p class = "font:sans:h6:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h5">Ideal For New Businesses</p>
            <div class = "col gap:d5">
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 12 Social Media Posts Per Month</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Up To 2 Platforms Of Your Choice</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Client Imagery And Our Templates</p>
            </div>

        </div>

        <div class = "bd:findigogray:solid:width-d0 col-spans:from-4:to-7 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 /2xl/ mg-b:0">

            <p class = "font:sans:h6:light:wide text:chunk:fwhite:normal mg-b:d4 /md/ font:h5">Business Social</p>

            <h2 class = "font:sans:h4:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h3">$1,680<span class = "font:h5">/mo</span></h2>

            <p class = "font:sans:h6:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h5">For the Established Business</p>
            <div class = "col gap:d5">
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 20 Social Media Posts Per Month</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Up To 3 Platforms Of Your Choice</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Client Imagery And Our Templates</p>
            </div>

        </div>

        <div class = "bd:findigogray:solid:width-d0 col-spans:from-7:to-10 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 /2xl/ mg-b:0">

            <p class = "font:sans:h6:light:wide text:chunk:fwhite:normal mg-b:d4 /md/ font:h5">Corporate Social</p>

            <h2 class = "font:sans:h4:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h3">$3,500<span class = "font:h5">/mo</span></h2>

            <p class = "font:sans:h6:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h5">For Large Businesses</p>
            <div class = "col gap:d5">
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 32 Social Media Posts Per Month</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Up To 4 Platforms Of Your Choice</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Templates & Custom Graphics</p>
            </div>

        </div>

    </div>

</div>