
<div class = "ctx:priceGrid col:x-start">

    <div class = "w:full col-r:x-start:y-start /xl/ grid:cols-9-fr:rows-1:gap-d6">

        <div class = "-lumino  pattern:cotton:bg-black:fg-altblack col-spans:from-1:to-4 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 /2xl/ mg-b:0">

            <h2 class = "font:sans:h5:semibold:wide text:chunk:fwhite:normal mg-b:d10 /md/ font:h4">Entrepreneur</h2>

            <p class = "font:sans:h6:light:wide text:chunk:fwhite:normal mg-b:d4 /md/ font:h5">Starting at</p>

            <h2 class = "font:sans:h3:semibold:wide text:chunk:fwhite:normal mg-b:d7 /lg/ font:h2">$3,900</h2>

            <p class = "font:sans:h6:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h5">Ideal For New Businesses</p>
            <div class = "col gap:d5">
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 3-Page Professional Website</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Standard Brand Identity Package</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Essential Website Maintenance</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 10% Discount On Future Work</p>
            </div>

        </div>

        <div class = "-lumino  pattern:cotton:bg-black:fg-altblack col-spans:from-4:to-7 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 /2xl/ mg-b:0">

            <h2 class = "font:sans:h5:semibold:wide text:chunk:fwhite:normal mg-b:d10 /md/ font:h4">Business Standard</h2>

            <p class = "font:sans:h6:light:wide text:chunk:fwhite:normal mg-b:d4 /md/ font:h5">Starting at</p>

            <h2 class = "font:sans:h3:semibold:wide text:chunk:fwhite:normal mg-b:d7 /lg/ font:h2">$7,900</h2>

            <p class = "font:sans:h6:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h5">For the Established Business</p>
            <div class = "col gap:d5">
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 5 Page Professional Website with Blog</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Enhanced Brand Identity Package</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Priority Website Maintenance</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 15% Discount On Future Work</p>
            </div>

        </div>

        <div class = "-lumino  pattern:cotton:bg-black:fg-altblack col-spans:from-7:to-10 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 /2xl/ mg-b:0">

            <h2 class = "font:sans:h5:semibold:wide text:chunk:fwhite:normal mg-b:d10 /md/ font:h4">Corporate Identity</h2>

            <p class = "font:sans:h6:light:wide text:chunk:fwhite:normal mg-b:d4 /md/ font:h5">Starting at</p>

            <h2 class = "font:sans:h3:semibold:wide text:chunk:fwhite:normal mg-b:d7 /lg/ font:h2">$15,000</h2>

            <p class = "font:sans:h6:semibold:wide text:chunk:fwhite:normal mg-b:d6 /lg/ font:h5">For Large Businesses</p>
            <div class = "col gap:d5">
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 8 Page Professional Website</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> Comprehensive Brand System</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> VIP Support with same-day response</p>
                <p class = "font:sans:base:light:wide text:chunk:fwhite:normal /md/ font:h6"><span>&#10003</span> 20% Discount On Future Work</p>
            </div>

        </div>

    </div>

</div>