
<div class = "ctx:pricingCards col:x-start">

  <div class = "w:full col-r:x-start:y-start /xl/ grid:cols-9-fr:rows-1:gap-d6">

      <div class = "-lumino bg-img:(url(/images/BentonSocial1.jpg)) h:s1 bg-attr:no-repeat:cover:center col-spans:from-1:to-6 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 h:s5 /2xl/ mg-b:0">

      </div>

      <div class = "-lumino bg-img:(url(/images/PouredSocial1.png)) h:s1 bg-attr:no-repeat:cover:center col-spans:from-6:to-10 w:full pd-x:d6 pd-y:d12 bd:round-d4 mg-b:d4 /lg/ pd-x:c1 pd-y:c3 h:s5 /2xl/ mg-b:0">

      </div>

      </div>

   



  </div>

</div>