
<div class = "ctx:priceGrid col:x-start">

    <div class = "w:full col-r:x-start:y-start /xl/ grid:cols-9-fr:rows-1:gap-d6">


            <div class = "-lumino bg-color:purple col-spans:from-1:to-4 w:full bg-attr:center:cover h:s2 bd:round-d4 mg-b:d4 /lg/ h:s4 /2xl/ mg-b:0 h:s6"></div>
            <div class = "-lumino bg-color:purple col-spans:from-4:to-7 w:full bg-attr:center:cover h:s2 bd:round-d4 mg-b:d4 /lg/ h:s4 /2xl/ mg-b:0 h:s6"></div>
            <div class = "-lumino bg-color:purple col-spans:from-7:to-10 w:full bg-attr:center:cover h:s2 bd:round-d4 mg-b:d4 /lg/ h:s4 /2xl/ mg-b:0 h:s6 ctx:end"></div>


    </div>

</div>