
<div class = "w:full">
    <hr class = "bd:findigogray mg-y:c1 opacity:0.2">
    <div class = "ctx:buttonContainer col:x-start:y-start /lg/ row:x-between:y-center ctx:end">
        <h6 class = "ctx:buttonCTA hidden font:h5:sans:light text:findigogray /lg/ block ctx:end">Ready To Talk Shop?</h6>
        <a href="#footer" class = "row:x-center:y-center bg-color:fwhite text:fblack pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 child:start font:sans bd:round-d2 font:bold row:x-center">Get In Touch<img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg"></a>
    </div>
</div>