---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
import HomeHero from '../components/home/HomeHero.astro'
import HomeCards from '../components/home/HomeCards.astro'
import SmartSpacer from '../subcomponents/SmartSpacer.astro'
import HomeCascade from '../components/home/HomeCascade.astro'
import HomeMonolith from 'src/components/Home/HomeMonolith.astro'
import HomeStrip from '../components/Home/HomeStrip.astro'
import HomeSpread from '../components/Home/HomeSpread.astro'
import HomeSpreadAlt from '../components/Home/HomeSpreadAlt.astro'
import HomeButton from '../components/Home/HomeButton.astro'
import HomeIntro from '../components/Home/HomeIntro.astro'
import HomeClient from '../components/Home/HomeClient.astro'
import HomeQuote from '../components/Home/HomeQuote.astro'
---

<PrimaryLayout>
  <SmartSpacer componentClass = {'pd-y:d4'}></SmartSpacer>
  <HomeHero></HomeHero>
  <SmartSpacer componentClass = {'pd-y:d3'}></SmartSpacer>
  <HomeCards></HomeCards>
  <SmartSpacer componentClass = {'pd-y:c6'}></SmartSpacer>



<div class = "contain w:full">
  <HomeIntro></HomeIntro>
</div>

<SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
  <div class = "contain w:full">
    <div class = "pd-x:c2 bd:round-d4 pd-t:c10 pd-b:c2 bg-color:fpurplealt">
      <HomeSpreadAlt></HomeSpreadAlt>
      <HomeButton></HomeButton>
      <SmartSpacer componentClass = {'pd-y:d8'}></SmartSpacer>
      <HomeCascade></HomeCascade>
    </div>
  </div>

  <SmartSpacer componentClass = {'pd-y:c3'}></SmartSpacer>

  <div class = "contain w:full bg-color:fpurple pd-y:c10  col:y-center">
    <HomeClient></HomeClient>
    <SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
    <HomeQuote></HomeQuote>
  </div>

  <SmartSpacer componentClass = {'pd-y:c3'}></SmartSpacer>

  <div class = "contain w:full">
    <div class = "pd-x:c2 bg-color:fpurplealt bd:round-d4 pd-t:c10 pd-b:c2">
      <HomeSpread></HomeSpread>
      <SmartSpacer componentClass = {'pd-y:d8'}></SmartSpacer>
      <HomeMonolith></HomeMonolith>
    </div>
  </div>


  <SmartSpacer componentClass = {'pd-y:c3'}></SmartSpacer>
  <HomeStrip></HomeStrip>
</PrimaryLayout>

