---
import { client } from '../../tina/__generated__/client'
// Define your pagename here, it must match the name of the .md file.
const pageName = 'homepage'
// Fetch the data dynamically and destructure. 
const query = await client.queries[pageName]({ relativePath: `${pageName}.md` })
const data = query.data[pageName]
const { ...page } = data
//Note: You can now access the attributes via page.attribute.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{page.title} + words</title>
    <!-- Link to your CSS files or any other head elements here -->
  </head>
  <body>
    <section class="space h-c5 bg-grey">
        <div class="content flex flex-row justify-center items-center">
            <h1>One</h1>
            <h1>Two</h1>
            <h1>Three</h1>
        </div>
    </section>
  </body>
</html>