---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
import HomeHero from '../components/home/HomeHero.astro'
import HomeCards from '../components/home/HomeCards.astro'
import SmartSpacer from '../subcomponents/SmartSpacer.astro'
import HomeCascade from '../components/home/HomeCascade.astro'
import HomeMonolith from 'src/components/Home/HomeMonolith.astro'
import HomeStrip from '../components/Home/HomeStrip.astro'
import HomeSpread from '../components/Home/HomeSpread.astro'
import HomeSpreadAlt from '../components/Home/HomeSpreadAlt.astro'
import HomeButton from '../components/Home/HomeButton.astro'
import HomeIntro from '../components/Home/HomeIntro.astro'
import HomeClient from '../components/Home/HomeClient.astro'
import HomeQuote from '../components/Home/HomeQuote.astro'
---

<script>
  import { inView, animate, stagger} from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    // Use an escaped class selector to match the class
    let element = document.querySelector('.\\-growSlow');

    inView(element,  () => {
      console.log("The link ", element, " has entered the viewport")
      animate(element, {paddingTop: "400px"},{duration:1.5})
      animate(element, {paddingBottom: "400px"},{duration:1.5})
      animate(element, {opacity: 1},{duration:1.5})
    });
  });
</script>



<PrimaryLayout>
  <SmartSpacer componentClass = {'pd-y:d4'}></SmartSpacer>
  <HomeHero></HomeHero>
  <SmartSpacer componentClass = {'pd-y:d3'}></SmartSpacer>
  <HomeCards></HomeCards>
  <SmartSpacer componentClass = {'pd-y:c6'}></SmartSpacer>


<div class = "contain w:full">
  <HomeIntro></HomeIntro>
</div>

<SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
  <div class = "contain w:full">
    <div class = "pd-x:d6 bd:round-d4 pd-t:c10 pd-b:c2 bg-color:fpurplealt /lg/ pd-x:c2">
      <HomeSpreadAlt></HomeSpreadAlt>
      <HomeButton></HomeButton>
      <SmartSpacer componentClass = {'pd-y:d8'}></SmartSpacer>
      <HomeCascade></HomeCascade>
    </div>
  </div>

  <SmartSpacer componentClass = {'pd-y:c3'}></SmartSpacer>

  <div class = "overflow:hidden contain w:full bg-color:fpurple pd-y:c10  col:y-center">
    <div class = "-growSlow w:full h:0 opacity:0.0">
      <HomeClient></HomeClient>
      <SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
      <HomeQuote></HomeQuote>
    </div>
  </div>

  <SmartSpacer componentClass = {'pd-y:c3'}></SmartSpacer>

  <div class = "contain w:full">
    <div class = "pd-x:d6 bd:round-d4 pd-t:c10 pd-b:c2 bg-color:fpurplealt /lg/ pd-x:c2">
      <HomeSpread></HomeSpread>
      <SmartSpacer componentClass = {'pd-y:d8'}></SmartSpacer>
      <HomeMonolith></HomeMonolith>
    </div>
  </div>


  <SmartSpacer componentClass = {'pd-y:c3'}></SmartSpacer>
  <HomeStrip></HomeStrip>
</PrimaryLayout>

