---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
import HomeHero from '../components/Home/HomeHero.astro'
import HomeCards from '../components/Home/HomeCards.astro'
import SmartSpacer from '../subcomponents/SmartSpacer.astro'
import HomeCascade from '../components/Home/HomeCascade.astro'
import HomeMonolith from 'src/components/Home/HomeMonolith.astro'
import HomeStrip from '../components/Home/HomeStrip.astro'
import HomeSpread from '../components/Home/HomeSpread.astro'
import HomeSpreadAlt from '../components/Home/HomeSpreadAlt.astro'
import HomeButton from '../components/Home/HomeButton.astro'
import HomeIntro from '../components/Home/HomeIntro.astro'
import HomeClient from '../components/Home/HomeClient.astro'
import HomeQuote from '../components/Home/HomeQuote.astro'
---



<PrimaryLayout>
  <HomeHero></HomeHero>
  <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c3'}></SmartSpacer>
  <div class = "contain w:full">
    <HomeIntro></HomeIntro>
  </div>
  <SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
  <HomeCards></HomeCards>

  <SmartSpacer componentClass = {'pd-y:d11'}></SmartSpacer>
  <div class = "contain w:full">
    <div class = "pd-x:d6 bd:round-d4 pd-t:c2 pd-b:d6 bg-color:darkpurple /lg/ pd-t:c10 pd-b:c1 pd-x:c1">
      <HomeSpreadAlt></HomeSpreadAlt>
      <HomeButton></HomeButton>
      <SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
      <HomeCascade></HomeCascade>
    </div>
  </div> 

  <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>

  <div class = "overflow:hidden contain w:full bg-color:darkpurple pd-t:c2 pd-b:c2 col:y-center /lg/ pd-t:c6 pd-b:c6">
      <HomeClient></HomeClient>
      <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>
      <HomeQuote></HomeQuote>
  </div>

  <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>

  <div class = "contain w:full">
    <div class = "pd-x:d6 bd:round-d4 pd-t:c2 pd-b:d6 bg-color:darkpurple /lg/ pd-t:c10 pd-b:c1 pd-x:c1">
      <HomeSpread></HomeSpread>
      <SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
      <HomeMonolith></HomeMonolith>
    </div>
  </div>


  <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>
  <HomeStrip></HomeStrip>
</PrimaryLayout>

