
---
import PrimaryLayout from '../layouts/PrimaryLayout.astro'
import WorksIntro from '../components/Works/WorksIntro.astro'
import WorksStory from '../components/Works/WorksStory.astro'
import SmartSpacer from '../subcomponents/SmartSpacer.astro'
import WorksQuote from '../components/Works/WorksQuote.astro'
import WorksHero from '../components/Works/WorksHero.astro'
import WorksCascade from '../components/Works/WorksCascade.astro'
---

<PrimaryLayout>
    <WorksHero></WorksHero>
    <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c3'}></SmartSpacer>
    <div class = "contain w:full">
        <WorksIntro></WorksIntro>
    </div>
    <SmartSpacer componentClass = {'pd-y:d10'}></SmartSpacer>
    <WorksStory></WorksStory>
    <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>
    <div class = "contain w:full">
        <WorksCascade></WorksCascade>
    </div>
    <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>
    <WorksQuote></WorksQuote>
    <SmartSpacer componentClass = {'pd-y:d10 /lg/ pd-y:c1'}></SmartSpacer>
</PrimaryLayout>
