<div class="fade-in w-full buffer bg-grey py-c6 grid grid-cols-1 grid-rows-1 gap-d6 my-c3 lg:grid lg:grid-cols-3 lg:grid-rows-1 lg:gap-d6">
    <div class="col-span-1 flex flex-col justify-center items-start">
    <p class="slip text-base mb-d1">Case Study</p>
    <p class="slip text-h5 font-bold leading-tight text-black mb-d6">Benton's Inc</p>
    <h1 class="slip text-h4 font-bold leading-tight text-black mb-d6 max-w-extra-narrow leading-relaxed">Bringing It Home: Benton's Does Your Household Maintenance Differently.</h1>
    <p class="slip text-h6 font-normal leading-tight text-darkgrey mb-d6 max-w-narrow leading-relaxed">Benton's Inc. stands as a pillar of community-focused home maintenance, specializing in HVAC, plumbing, and electrical services. Their people-first approach sets them apart in an industry often criticized for impersonal service. By prioritizing prompt phone responses, punctual arrivals, and delivering exceptional quality work, Benton's has earned a reputation for reliability and professionalism. Our collaboration with Benton's Inc involved a comprehensive brand overhaul, breathing new life into their visual identity and positioning them for continued success in their market.</p>
    <p class="slip text-h6 font-normal leading-tight text-darkgrey max-w-narrow leading-relaxed">As part of this rebranding effort, we crafted a modern, user-friendly website that showcases their expertise and makes it easy for customers to engage their services. Beyond the purely digital realm, our team manages Benton's social media presence, ensuring consistent community engagement and reinforcing their position as a trusted local resource. Through strategic content and timely updates, we've helped Benton's Inc. strengthen their connection with both existing and potential customers. This multifaceted approach has solidified their status as the go-to provider for home maintenance needs in their service area, further emphasizing their commitment to quality service and community values.</p>
    <a href ="https://www.bentonsinc.com" class="text-white text-base bg-black mt-d6 mb-c3 px-d4 py-d2 rounded-lg font-sans font-bold">Visit Benton's</a>
  </div>
    
   

    <div class="col-span-1 w-full grid grid-cols-1 grid-rows-1 gap-d6 lg:h-s7 lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:gap-d6 lg:col-span-2">

        <div class="grid grid-cols-2 grid-rows-2 gap-d6 col-span-1 row-span-2 lg:col-span-2">
            <div class="col-span-2 row-span-2 grid grid-rows-[1fr,auto,auto] h-full">
                <img src="/images/bentonslaptop.png" alt="Benton Promo" class="h-s2 w-full object-cover object-center rounded-md lg:h-full">
            </div>
        </div>
    
        <div class="col-span-1 row-span-2 grid grid-cols-0 grid-rows-2 gap-d6">
          <div>
            <div class="bg-cover bg-center rounded-md h-s2 lg:h-full" style="background-image: url('/images/bentonssurge.jpg');">
            </div>
          </div>
          <div>
            <div class="bg-cover bg-center rounded-md h-s2 lg:h-full" style="background-image: url('/images/bentonstva.png');">
            </div>
          </div>
        </div>
      </div>



  </div>