---
---
<div class="buffer w-full my-c3 grid grid-cols-1 grid-rows-auto gap-d6 lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:gap-d6">
  <div class="lg:col-span-1 lg:row-span-2 lg:grid lg:grid-cols-1 lg:grid-rows-2 lg:gap-d6 lg:h-full">
    <div class="grow flex flex-col">
      <div class="grow bg-cover bg-center rounded-md h-s1 lg:h-auto" style="background-image: url('/images/pouredpromo.png');"></div>
      <h4 class="slip text-base mt-d6">Business Cards</h4>
      <h4 class="slip text-base text-darkgrey">Poured Out Art</h4>
    </div>
    <div class="grow flex flex-col mt-4">
      <div class="grow bg-cover bg-center rounded-md h-s1 lg:h-auto" style="background-image: url('/images/hungrypromo.png');"></div>
      <h4 class="slip text-base mt-d6">New Logo</h4>
      <h4 class="slip text-base text-darkgrey">The Hungry Haberdasher</h4>
    </div>
  </div>
  <div class="grid grid-cols-2 grid-rows-2 gap-d6 lg:col-span-2 lg:row-span-2">
    <div class="col-span-2 row-span-2 grid grid-rows-[auto,auto,auto] lg:grid-rows-[1fr,auto,auto] lg:h-full">
      <img src="/images/bentonpromo.png" alt="Benton Promo" class="h-s1 w-full object-cover object-center rounded-md lg:h-full">
      <h4 class="slip text-base mt-d6">Concept Van Design</h4>
      <h4 class="slip text-base text-darkgrey">Benton's Inc</h4>
    </div>
  </div>
</div>