
<div class="buffer w-full my-c3 buffer grid grid-cols-1 grid-rows-1 gap-d6 lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:gap-d6">

  <div class="col-span-1 row-span-2 space-y-d6 flex flex-col justify-between items-center">

    <div class="flex flex-col w-full">
      <div class="h-s2 w-full">
        <img src="/images/carneyscene.png" alt="Carney Promo" class="w-full h-full object-cover object-center rounded-md">
      </div>
      <h4 class="slip text-black text-base mt-d6">Logo & Promotional</h4>
      <h4 class="slip2 text-darkgrey text-base">Carney Bookkeeping</h4>
    </div>
    
    <div class="flex flex-col w-full">
      <div class="h-s2 w-full">
        <img src="/images/bentonsscene.png" alt="Benton's Promo" class="w-full h-full object-cover object-center rounded-md">
      </div>
      <h4 class="slip text-black text-base mt-d6">Redesigned Website & Social Media</h4>
      <h4 class="slip2 text-darkgrey text-base">Benton's Inc</h4>
    </div>

  </div>


  <div class="col-span-1 row-span-1 lg:col-span-2 lg:row-span-2">
    
    <div class="h-full flex flex-col">
      <div class="h-s2 w-full lg:h-full lg:bg-purple">
        <img src="/images/enszscene.png" alt="Ensz Promo" class="w-full h-full object-cover object-center rounded-md">
      </div>
      <h4 class="slip text-black text-base mt-d6">Logo & Brand Guidelines</h4>
      <h4 class="slip2 text-darkgrey text-base">Ensz & Sons</h4>
    </div>

  </div>
  


</div>

