<div class="buffer w-full my-c3 buffer grid grid-cols-1 grid-rows-1 gap-d6 lg:grid lg:grid-cols-3 lg:grid-rows-2 lg:gap-d6">

  <div class="col-span-1 row-span-1 lg:col-span-2 lg:row-span-2">
    
    <div class="h-full flex flex-col">
      <img src="/images/bentonpromo.png" alt="Benton Promo" class="h-auto grow w-full object-cover object-center">
      <h4 class="text-black text-base mt-d6">Concept Van Design</h4>
      <h4 class="text-darkgrey text-base">Benton's Inc</h4>
    </div>

  </div>

  <div class="col-span-1 row-span-2 space-y-d6">

    <div class="flex flex-col">
      <img src="/images/pouredpromo.png" alt="Poured Promo" class="h-auto grow w-full object-cover object-center">
      <h4 class="text-black text-base mt-d6">Business Cards</h4>
      <h4 class="text-darkgrey text-base">Poured Out Art</h4>
    </div>
    
    <div class="flex flex-col">
      <img src="/images/hungrypromo.png" alt="Hungry Promo" class="h-auto grow w-full object-cover object-center">
      <h4 class="text-black text-base mt-d6">New Logo</h4>
      <h4 class="text-darkgrey text-base">The Hungry Haberdasher</h4>
    </div>

  </div>
  


</div>

