<div class="scope:cascadeTitle contain w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-5-fr:rows-1:gap-d12">
    
    <div class = "col-spans:from-1:to-4 bd:round-d6 col:y-end:x-start"> 
        <div class = "col:x-start:y-between">
            <h2 class = "font:h6:regular:sans text:findigogray mg-b:c3">II. Quality is Our Philosophy</h2>
            <h2 class="-slip font:sans:h4:light:wide text:findigogray:normal:brief">We're in the business of <span class = "text:white font:serif">dreaming bigger</span>, exploring the boundaries and reimagining <span class = "text:white font:serif">what's possible</span>. If you can <span class = "text:white font:serif">dream it</span>, we can work with you to <span class = "text:white font:serif">bring it to life.</span></h2>
        </div>

    </div>


    <div class = "col-spans:from-4:to-6 bd:round-d6 col:x-end:y-end"> 
        <div class = "col:x-start:y-end">
           <p class = "font:h6:sans:regular:tight text:findigogray:brief">We're passionate about problem solving and we would genuinely love to help you do what you do best even better. Whether on the web, through social media, or in print, Rara Avis believes that everyone understands beautiful.</p>
           <a class = "child:no-grow mg-t:d6 row:x-center:y-center bg-color:findigogray text:fwhite pd-x:d4 pd-y:d2 font:sans bd:round-d2 font:bold row:x-center">Learn More</a>
        </div>
    </div>


</div>