<div class="-fade-in w:full contain grid:cols-1:rows-1:gap-d6 /lg/ grid:cols-3:rows-2:gap-d6">
    <div class="col-spans:to-2 row-spans:to-3 grid:rows-2:gap-d6">
      <div class="bg-attr:cover:center bd:round-d6 h:s2" style="background-image: url('/images/pouredpromo.png');">
      </div>
      <div class="bg-attr:cover:center bd:round-d6 h:s2" style="background-image: url('/images/hungrypromo.png');">
      </div>
    </div>
    
    <div class="bg-attr:cover:center bd:round-d6 col-spans:to-2 row-spans:to-3 h:s2 /lg/ h:full col-spans:from-2:to-4" style="background-image: url('/images/bentonpromo.png');">
    </div>
  </div>