
<div class = "contain pattern:pointgrid:fg-fblack:bg-fblackalt col:x-start pd-y:c4">

    <div class = "col:x-start w:full mg-b:d9 /lg/ row:x-start">  
        <h1 class ="font:h3:sans:bold text:fwhite:snug inline-block">We Live In A World <span class = "text:findigo font:serif:medium">Made Out Of Ideas</span></h1>
    </div>

    <div class = "w:full h:s12 grid:cols-1-fr:rows-3:rowgap-d6 /lg/ h:s8 grid:rows-2 /xl/ h:s6 grid:cols-9:rows-1:gap-d6">
        <div class = "-lumino bg-attr:cover:center bg-img:(url(/images/enszscene.png)) bd:round-d6 h:s2 scope:cPanel1 col-spans:from-1:to-1 /lg/ h:full /xl/ col-spans:from-1:to-3"></div>

        <div class = "grid:cols-1-fr:rows-1:rowgap-d6 /lg/ grid:cols-2:rows-1:gap-d6 /xl/ grid:cols-7:rows-1:gap-d6 col-spans:from-3:to-10">
            <div class = "-lumino bg-attr:cover:center bg-img:(url(/images/davidsonscene.png)) bd:round-d6 h:s2 scope:cPanel2 col-spans:from-1:to-1 /lg/ h:full /xl/ col-spans:from-1:to-5"></div>

            <div class = "-lumino relative col:x-center:y-center bg-attr:cover:center bg-img:(url(/images/pouredpromo.png)) bd:round-d6 h:s2 scope:cPanel3 col-spans:from-1:to-1 /lg/ h:full col-spans:from-2:to-2 /xl/ col-spans:from-5:to-10">
            
            <div class = "bg-color:fblack opacity:0.35 absolute w:full h:full top:0 bd:round-d6"></div>

            <div class = "col:y-center relative z:10 ">
                <h2 class = "scope:cascadeQuote font:sans:h4:bold:wide text:fwhite:note /lg/ font:h3">“When I am working on a problem, I never think about beauty. But when I have finished, if the solution is not beautiful?”</h2>

                <h2 class = "scope:cascadeBody font:sans:h4:bold:wide text:fwhite:note mg-t:d4 /lg/ font:h3">”… I know it is wrong.”</h2>
                    
                <h2 class = "font:sans:h5:bold:wide text:fwhite:note mg-t:d6">- R. Buckminster Fuller</h2>
            </div>


            </div>

        </div>
    </div>

</div>