
<script>
  import {typeCore} from "@scripts/typeCore.js";
    document.addEventListener('DOMContentLoaded', function() {

let textID = "typed";

// Strings for desktop and mobile
const desktopStrings = [
  'Make <strong>Beautiful</strong> Websites^150.',
  'Design <strong>Powerful</strong> Graphics^250.',
  'Build <strong>Bold</strong> Brands^350.',
  'Are <strong>Rara Avis</strong>^200.'
];

const mobileStrings = [
  'Are <strong>Rara Avis</strong>^200.' // Only the last statement for mobile
];

typeCore(mobileStrings,desktopStrings,textID)
});
</script>

  <div class="contain row:x-between:y-center font:h5:sans text:black /md/ font:h4 /lg/ font:h2">
    <h1 class="font:regular text:hug">
      We <span id="typed"></span>
    </h1>
    <img class="-slip h:c1 w:auto" src="/images/Arrow.svg" alt="Arrow">
  </div>
