<div class="scope:cascadeTitle bg-color:fpurple contain w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-4-fr:rows-1:gap-d12">
        
    <div class = "col-spans:from-1:to-3 bd:round-d6 col:x-start:y-between"> 
        <h2 class = "font:h6:regular:sans text:findigogray mg-b:d6">I. Introductions Are In Order</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief">
            We live at the intersection of art and technology, harnessing creativity and innovation to bring your brand's vision to life. Our passionate team collaborates to craft digital experiences and develop breakthrough branding solutions that empower small businesses. </p>
    </div>

    <div class = "col-spans:from-3:to-5 bd:round-d6 col:y-between:x-start"> 
        <div class = "col:x-start:y-center">
            <h2 class="-slip font:sans:h4:light:wide text:findigogray:normal mg-b:d4">We believe that <span class = "text:white font:serif">every idea</span> has the potential to ignite transformative change for your business, and we're here to bring those <span class = "text:white font:serif">bold dreams</span> into reality. </h2>
        </div>

    <a class = "child:no-grow mg-t:d6 row:x-center:y-center bg-color:fwhite text:fblack pd-x:d4 pd-y:d2 font:sans bd:round-d2 font:bold row:x-center">Learn More</a>
    </div>

</div>