<div class="-fade-in">
    <div class="pd-t:c3 pd-b:c3 bg-color:grey w:full contain">
      <div>
        <div class="grid:cols-1 /xl/ grid:cols-3:gap-d12">

          <div class="col-spans:to-2 /xl/ col-spans:to-3">
            <div class="h:full w:full bg-size:cover bg-position:center-center bd:r-d6" style="background-image: url('/images/davidsonscene.png');">
            </div>
          </div>
          
          <div class="col-spans:to-2">
            <h2 class="font:heading3:bold:tight:sans text:black mg-b:d3">Our Big Ideas Are Fueling Extraordinary Creativity</h2>
            <p class="font:base:normal text:darkgrey:medium">
              And we believe that creativity has the power to transform businesses. Our passion lies in creating beautiful, accessible, and powerful solutions that elevate brands to new heights and captivate their audiences. Quality is our metric and we abide by three guiding principles:
            </p>
          <div class="-slip">
            <div class="w:full row:x-start:y-center mg-t:d6">
              <div class="bg-color:purple pd:d3 bd:r-d6">
                <img class="w:d8 h:d8" src="/images/design.svg">
              </div>
              <h2 class="mg-l:d6 font:heading5 text:black">We Always Aim to Craft With Impact</h2>
            </div>
            <p class="text:darkgrey:medium font:base:loose mg-t:d5 ">We create visually striking and emotionally resonant experiences that leave a lasting impression. Our designs go beyond aesthetics, driving meaningful engagement with your brand.</p>
          </div>

          <div class="-slip2">
            <div class="w:full row:x-start:y-center mg-t:d6">
              <div class="bg-color:purple pd:d3 bd:r-d6">
                <img class="w:d8 h:d8" src="/images/code.svg">
              </div>
              <h2 class="mg-l:d6 font:heading5 text:black">Our Iterative Process is Our North Star</h2>
            </div>
            <p class="text:darkgrey:medium font:base:loose mg-t:d5">Our refined, iterative process guides every project from conception to completion. This approach ensures consistent quality and transforms challenges into elegant solutions.</p>
          </div>

          <div class="-slip3">
            <div class="w:full row:x-start:y-center mg-t:d6">
              <div class="bg-color:purple pd:d3 bd:r-d6">
                <img class="w:d8 h:d8" src="/images/accessible.svg">
              </div>
              <h2 class="mg-l:d6 font:heading5 text:black">This Journey Belongs To All Of Us</h2>
            </div>
            <p class="text:darkgrey:medium font:base:loose mg-t:d5">We're committed to creating experiences that are both visually striking and accessible to everyone. Our inclusive design ensures your brand resonates with the widest possible audience.</p>
          </div>   
          </div>
      
        </div>
      </div>
    </div>
  </div>