<header class="contain">
    <div class="relative -fade-in w:full h:s4 bg-attr:no-repeat:cover:center bd:round-d6 /md/ h:s8" style="background-image:url('/images/RaraPhone.png')">
    </div>
</header>