<div class="contain grid:cols-1:rows-3:gap-d6 /xl/ grid:cols-3:rows-1">
    
    <div class="bg-color:purple w:full h:s1 bd:r-d6 col:x-between:y-start pd:d8 font:snug -fade-in /lg/ h:s2">
      <div class="w:full row:x-between:y-start">
        <p class="font:heading5:widest text:white">Crafting Your</p>
        <img class="h:d10 w:auto" src="images/eye.svg">
        </div>
      <div>
      <h3 class="-slip font:heading3 text:white font:serif mg-b:d1">Visual Identity</h3>
      <p class="font:heading6 text:white">Transforming your vision into powerful and captivating visual narratives.</p>
      </div>
    </div>

    <div class="bg-color:black w:full h:s1 bd:r-d6 col:x-between:y-start pd:d8 font:snug -fade-in /lg/ h:s2">
      <div class="w:full row:x-between:y-start">
        <p class="font:heading5:widest text:white">Shaping Your</p>
        <img class="h:d10 w:auto" src="images/mouse.svg">
        </div>
      <div>
      <h3 class="-slip2 font:heading3:serif text:white mg-b:d1">Digital Footprint</h3>
      <p class="font:heading6 text:white">Crafting sophisticated digital experiences with expertise and efficiency.</p>
      </div>
    </div>

    <div class="bg-color:grey w:full h:s1 bd:r-d6 col:x-between:y-start pd:d8 font:snug -fade-in /lg/ h:s2">
      <div class="w:full row:x-between:y-start">
      <p class="font:heading5:widest text:black">Elevating Your</p>
      <img class="h:d10 w:auto" src="images/share.svg">
      </div>

      <div>
      <h3 class="-slip3 font:heading3:serif text:black mg-b:d1">Social Media</h3>
      <p class="font:heading6 text:black">Amplifying your voice with precision and finesse in the evolving digital landscape.</p>
      </div>
    </div>

  </div>