
<div class = "col:x-start pd-y:c10 bg-color:fpurple">

        <div class="w:full contain mg-b:c8">
            <div>
                <div class="grid:cols-1-fr /lg/ grid:cols-2:gap-d12">
            
                    <div class="col-spans:to-2">
                    <p class="font:sans:h5:medium:tight text:fwhite mg-b:d2 format:no-wrap">You Might Say</p>
                    <h2 class="-slip font:sans:h4:bold:tight text:fwhite:note mg-b:d6 /lg/ font:h2 /xl/ mg-b:0">We're In The Business Of Dreaming Bigger.</h2>
                    </div>
                    
                    <div class="-fade-in col-spans-all row:x-start:y-center /lg/ col-spans:from-2:to-3 row:x-end:y-end">
                    <div>
                        <h2 class="font:sans:h6:regular:tight text:fwhite:brief:loose">
                        We thrive at the intersection of art and technology. Our team crafts digital experiences and breakthrough branding that transforms small businesses.</h2>
                    </div>
                    </div>
                
                </div>
            </div>
        </div>
        


        <div class="scope:cascadeContainer contain w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-4-fr:rows-1:gap-d12">
        
            <div class = "col-spans:from-1:to-3 bd:round-d6"> 
                <h2 class = "font:h4:sans text:white mg-b:d6"> We Think Quality Is What Counts.</h2>
                <p class = "font:h6:sans text:white mg-b:d6"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class = "font:h6:sans text:white"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class = "col-spans:from-3:to-5 bg-attr:cover:center bg-img:(url(/images/carneyscene.png)) bd:round-d6"> </div>
        
        </div>

        
        
        
    </div>




</div>