<div class="ctx:cascadeTitle w:full col:x-start:y-start /xl/ grid:cols-5-fr:rows-1:gap-d12 ctx:end">
    
    <div class = "col-spans:from-1:to-3 bd:round-d6 col:x-start:y-center"> 
        <div class = "col:x-start:y-between h:full">
            <h2 class = "font:h6:regular:sans text:fwhite mg-b:d4 /lg/ mg-b:0">III. Our Work Speaks For Itself</h2>
           <p class = "font:h6:sans:regular:tight text:findigogray:brief">We truly love getting to work with clients like Jessica. We meet our client's passion for what they do with our passion for design, development, and branding and work with them to take their business to the next level</p>
        </div>
    </div>


    <div class = "col-spans:from-3:to-6 bd:round-d6 col:y-end:x-start mg-t:c1 /lg/ mg-t:0"> 
        <div class = "col:x-end:y-between w:full">


            <div>
                <p class = "block font:sans:h2 text:findigogray">“</p>
                <h2 class="font:sans:h4:light:wide text:chunk:findigogray:normal">Their attention to quality and design is unmatched. Beautiful work that delivers real results — my brand has never looked better.”</h2>
                <hr class = "bg-color:findigogray mg-y:d6 opacity:0.4 max-w:c12">
                <p class = "font:sans:h5:regular:tight text:fwhite mg-b:d3">Jessica Ellington</p>
                <p class = "font:sans:h6:regular:tight text:fwhite opacity:0.3">Poured Out Art</p>
            </div>
        </div>

    </div>



</div>

