<div class = "w:full bg-color:grey pd-y:c2 contain">



    <div class = "grid:cols-1 /xl/ grid:cols-3-fr:rows-1:gap-d6">

      <div class ="col-spans:from-1:to-3">
        <div class = "w:full h:full bg-attr:cover:center bg-img:(url(/images/davidsonscene.png)) bd:round-d6"></div>
      </div>

      <div>
        <h1 class ="font:h3:sans text:black inline-block">Our Big Ideas Are Fueling Extraordinary Creativity</h1>
          <div>

            <div class = "row:x-start:y-center mg-t:d6">

              
            <div class = "h:d12 w:d12 bg-color:purple row:x-center:y-center bd:round-d2 mg-r:d6">
              <img class = "h:d6 w:d6" src = "/images/design.svg">
            </div>

            <h3 class ="font:h5:sans:regular">We Always Aim To Craft With Impact</h3>

            </div>

            <p class = "mg-t:d5 font:base:sans text:darkgrey">We create visually striking and emotionally resonant experiences that leave a lasting impression. Our designs go beyond aesthetics, driving meaningful engagement with your brand.</p>

          </div>

          <div>

            <div class = "row:x-start:y-center mg-t:d6">

              
            <div class = "h:d12 w:d12 bg-color:purple row:x-center:y-center bd:round-d2 mg-r:d6">
              <img class = "h:d6 w:d6" src = "/images/code.svg">
            </div>

            <h3 class ="font:h5:sans:regular">Our Iterative Process is Our North Star</h3>

            </div>

            <p class = "mg-t:d5 font:base:sans text:darkgrey:book">Our refined, iterative process guides every project from conception to completion. This approach ensures consistent quality and transforms challenges into elegant solutions.</p>

          </div>

          <div>

            <div class = "row:x-start:y-center mg-t:d6">

              
            <div class = "h:d12 w:d12 bg-color:purple row:x-center:y-center bd:round-d2 mg-r:d6">
              <img class = "h:d6 w:d6" src = "/images/accessible.svg">
            </div>

            <h3 class ="font:h5:sans:medium">We Always Aim To Craft With Impact</h3>

            </div>

            <p class = "mg-t:d5 font:base:sans text:darkgrey:book">We're committed to creating experiences that are both visually striking and accessible to everyone. Our inclusive design ensures your brand resonates with the widest possible audience.</p>

          </div>

    </div>



</div>
