<div class="scope:cascadeTitle w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "col-spans:from-1:to-3 bd:round-d6 col:x-start:y-between"> 
        <h2 class = "font:h6:regular:sans text:fwhite mg-b:c3">I. Introductions Are In Order</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief">
            We bring agency level design and development to small businesses everywhere. Our team is comprised of creative, technical and business talent who work closely with our clients to deliver innovative and aesthetically pleasing solutions to their unique individual needs.</p>
    </div>

    <div class = "col-spans:from-3:to-6 bd:round-d6 col:y-between:x-end"> 
            <h2 class="block font:sans:h3:light:wide text:findigogray:snug:brief">We are an <span class = "text:white font:serif">independent</span> creative agency that believes that <span class = "text:white font:serif">process</span> and the pursuit of <span class = "text:white font:serif">quality</span> are the keys to our client's long-term success.</h2>
    </div>

</div>