<div class = "w:full pd-y:c4 contain">



    <div class = "grid:cols-1 /xl/ grid:cols-3-fr:rows-1:gap-d8">

      <div class ="col-spans:from-1:to-3">
        <div class = "-lumino @after:[absolute_top:0_h:full_w:full_pattern:plastic_opacity:0.4_z:40_empty_bd:round-d6] relative w:full h:full bg-attr:cover:center bg-img:(url(/images/davidsonscene.png)) bd:round-d6"></div>
      </div>

      <div>
        <h1 class ="font:h4:sans:bold text:fblack:snug inline-block">Because Real Creativity<br/><span class = "text:fwhite font:serif:medium">Never Goes Out Of Style</span></h1>

        <p class = "mg-t:d5 font:h6:sans text:fwhite">And we believe that creativity has the power to transform businesses. Our passion lies in creating beautiful, accessible, and powerful solutions that elevate brands to new heights and captivate their audiences. Quality is our metric and we abide by three guiding principles:</p>



          <div>

            <div class = "row:x-start:y-center mg-t:d10">

              
            <div class = "-lumino  h:d12 w:d12 bg-color:fblack row:x-center:y-center bd:round-d2 mg-r:d6">
              <img class = "h:d7 w:d7" src = "/images/design.svg">
            </div>

            <h3 class ="font:h4:sans:light text:fwhite">Crafting With Impact</h3>

            </div>

            <p class = "mg-t:d5 font:base:sans text:fwhite">We create visually striking and emotionally resonant experiences that leave a lasting impression. Our designs go beyond aesthetics, driving meaningful engagement with your brand.</p>

          </div>

          <div>

            <div class = "row:x-start:y-center mg-t:d10">

              
            <div class = "-lumino h:d12 w:d12 bg-color:fblack row:x-center:y-center bd:round-d2 mg-r:d6">
              <img class = "h:d7 w:d7" src = "/images/code.svg">
            </div>

            <h3 class ="font:h4:sans:light text:fwhite">Guided By Process</h3>

            </div>

            <p class = "mg-t:d5 font:base:sans text:fwhite">Our refined, iterative process guides every project from conception to completion. This approach ensures consistent quality and transforms challenges into elegant solutions.</p>

          </div>

          <div>

            <div class = "row:x-start:y-center mg-t:d10">

              
            <div class = "-lumino h:d12 w:d12 bg-color:fblack row:x-center:y-center bd:round-d2 mg-r:d6">
              <img class = "h:d7 w:d7" src = "/images/accessible.svg">
            </div>

            <h3 class ="font:h4:sans:light text:fwhite">We're Bringing Everyone</h3>

            </div>

            <p class = "mg-t:d5 font:base:sans text:fwhite">We're committed to creating experiences that are both visually striking and accessible to everyone. Our inclusive design ensures your brand resonates with the widest possible audience.</p>

          </div>

    </div>



</div>
