<div class = "h:c6 bg-color:fpurplealt w:full row:x-between:y-center overflow:hidden">
<p class = "text:findigogray font:h5:sans">Ideate</p>
<p class = "text:findigogray font:h5:sans">Create</p>
<p class = "text:findigogray font:h5:sans">Iterate</p>
<p class = "text:findigogray font:h5:sans">Ideate</p>
<p class = "text:findigogray font:h5:sans">Create</p>
<p class = "text:findigogray font:h5:sans">Iterate</p>
<p class = "text:findigogray font:h5:sans">Ideate</p>
<p class = "text:findigogray font:h5:sans">Create</p>
<p class = "text:findigogray font:h5:sans">Iterate</p>
<p class = "text:findigogray font:h5:sans">Ideate</p>
<p class = "text:findigogray font:h5:sans">Create</p>
<p class = "text:findigogray font:h5:sans">Iterate</p>

</div>