<script>
  import { inView, animate, easeInOut } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    // Use an escaped class selector to match the class "-scrollInDiv"
    let element = document.querySelector('.\\-scrollInDiv');

    inView(element, () => {
      let fadeIn = animate(element, { opacity: 1 }, { duration: 2 })
      fadeIn.play()
      fadeIn.then(() => {
        fadeIn.stop()
      })
     
    });
  });
</script>




<div class="contain grid:cols-1:rows-3:gap-d6 /xl/ grid:cols-3-fr:rows-1:gap-d6">
    
    <div class="-lumino -scrollInDiv opacity:0.0 bg-color:findigo w:full h:s1 bd:round-d6 col:x-between:y-between border-box pd:d8 text:snug -fade-in /lg/ h:s2">
      <div class="row:x-between:y-start">
        <p class="font:h5:widest:sans text:fwhite">Crafting Your</p>
        <img class="h:d10 w:auto" src="images/eye.svg">
        </div>
      <div>
      <h3 class="-slip font:h3 text:fwhite font:serif:light mg-b:d2">Visual Identity</h3>
      <p class="font:h6:sans text:fwhite">Transforming your vision into powerful and captivating visual narratives.</p>
      </div>
    </div>

    <div class="-lumino bg-color:fblack w:full h:s1 bd:round-d6 col:x-between:y-between border-box pd:d8 text:snug -fade-in /lg/ h:s2">
      <div class="row:x-between:y-start">
        <p class="font:h5:sans:widest text:fwhite">Shaping Your</p>
        <img class="h:d10 w:auto" src="images/mouse.svg">
        </div>
      <div>
      <h3 class="-slip2 font:h3:serif:light text:fwhite mg-b:d2">Digital Footprint</h3>
      <p class="font:h6:sans text:fwhite">Crafting sophisticated digital experiences with expertise and efficiency.</p>
      </div>
    </div>

    <div class="-lumino bg-color:fwhite w:full h:s1 bd:round-d6 col:x-between:y-between border-box pd:d8 text:snug -fade-in /lg/ h:s2">
      <div class="row:x-between:y-start">
      <p class="font:h5:widest:sans text:fblack">Elevating Your</p>
      <img class="h:d10 w:auto" src="images/share.svg">
      </div>

      <div>
      <h3 class="-slip3 font:h3:serif:light text:fblack mg-b:d2">Social Media</h3>
      <p class="font:h6:sans text:fblack">Amplifying your voice with precision and finesse in the evolving digital landscape.</p>
      </div>
    </div>

  </div>