
<div class = "col:x-start bg-color:fpurplealt">

        <div class = "scope:cascadeGrid w:full grid:cols-9-fr:rows-1:gap-d6">

            <div class = "scope:cascadeSecond col-spans:from-1:to-6 grid:cols-2:rows-1:gap-d6">
                <div class = "-lumino col-spans:from-1:to-3 bg-img:(url(/images/carneyscene.png)) bg-attr:center:cover h:s6 bd:round-d6"></div>
                <div class = "-lumino col-spans:from-3:to-5 bg-img:(url(/images/enszscene.png)) bg-attr:center:cover h:s6 bd:round-d6"></div>
            </div>


            <div class = "-lumino scope:cascadeFirst col:x-start:y-end col-spans:from-6:to-10 relative h:s6 bd:round-d6 z:0 overflow:hidden">

                <div class = "absolute top:0 left:0 w:full h:full bg-img:(url(/images/subwayblur.png)) bd:round-d6 z:10 bg-attr:center:cover"></div>

                <p class = "mg-l:d12 absolute left:0 top:0 z:40 font:sans:h1 text:fwhite opacity:0.3">“</p>

                <div class = "mg-b:d12 mg-l:d12 relative z:20 col:y-center">
                    <p class = "font:sans:h3:sans:regular:tight text:fwhite:normal:note:hug mg-b:d4">When I am working on a problem, I never think about beauty. But when I have finished, if the solution is not beautiful, I know it is wrong.</p>
                    <hr class = "bg-color:findigogray mg-y:d6 opacity:0.4 max-w:c12">
                    <p class = "font:sans:h3:regular:tight text:fwhite">R. Buckminster Fuller</p>
                    <p class = "font:sans:h4:regular:tight text:fwhite opacity:0.3">American Architect</p>
                </div>
            </div>

        </div>

</div>