<header class="contain">
    <div class="-fade-in w:full h:s4 bg-repeat:no-repeat bg-size:cover bg-position:center-center bd:r-d6 /md/ h:s8" style="background-image:url('/images/RaraPhone.png')">
    </div>
</header>