
<div class = "col:x-start pd-y:c11">

    <div class="scope:cascadeTitle contain w:full grid:cols-1:rows-3:gap-d4 /xl/ grid:cols-4-fr:rows-1:gap-d12">
    
        <div class = "col-spans:from-1:to-3 bd:round-d6 col:y-end:x-start"> 
            <div class = "col:x-start:y-center">
                <h2 class="-slip font:sans:h4:light:wide text:findigogray:normal">We're in the business of <span class = "text:white font:serif">dreaming bigger</span>, exploring the boundaries and reimagining <span class = "text:white font:serif">what's possible</span>.</h2>
            </div>

        </div>
    

        <div class = "col-spans:from-3:to-5 bd:round-d6 col:x-end:y-end"> 
            <div class = "col:x-start:y-end">
               <p class = "font:h6:sans:regular:tight text:findigogray:brief">We're passionate about problem solving and we would genuinely love to help you do what you do best even better. Whether on the web, through social media, or in print, Rara Avis believes that everyone understands beautiful.</p>
               <a class = "child:no-grow mg-t:d6 row:x-center:y-center bg-color:findigogray text:fwhite pd-x:d4 pd-y:d2 font:sans bd:round-d2 font:bold row:x-center">Learn More</a>
            </div>
        </div>


    </div>

    <div class = "contain w:full">
        <div class = "-lumino scope:monolithImage row:x-center:y-center h:s7 mg-t:c5 bg-img:(url(/images/birdgirl.png)) bg-attr:no-repeat:cover:center bd:round-d6">
            <h2 class = "-textFade font:sans:bold:h1 text:fwhite">We Dream Bigger</h2>
        </div>
    </div>



    
    
    





</div>