<header>
    <div class="ctx:homeHero relative -inplace w:full h:s3 bg-attr:no-repeat:cover:center /lg/ h:s6" style="background-image:url('/images/birdgirls.png')"> 
    <!-- <div class="-imageText absolute w:full h:full bd:round-d6"></div> -->
        <script>
            import {typeCore} from "@scripts/typeCore.js";
              document.addEventListener('DOMContentLoaded', function() {
          
          let textID = "typed";
          
          // Strings for desktop and mobile
          const desktopStrings = [
            'Make <strong>Striking</strong> Websites^150',
            'Design <strong>Captivating</strong> Graphics^250',
            'Craft <strong>Bold</strong> Brands^350',
            'Are <strong>Rara Avis</strong>^200.'
          ];
          
          const mobileStrings = [
            'Are <strong>Rara Avis</strong>^200.' // Only the last statement for mobile
          ];
          
          typeCore(mobileStrings,desktopStrings,textID)
          });
          </script>
          
            <div class="contain absolute w:full pd-b:d5 bottom:0 row:x-between:y-center text:fwhite /md/ font:h5 /lg/ font:h4 pd-b:d8">
              <h1 class="font:sans:regular:h5 text:hug /lg/ font:h2">
                We <span id="typed"></span>
              </h1>
              <img class="-slip w:auto h:d10 /lg/ h:c2 ctx:end" src="/images/Arrow.svg" alt="Arrow">
            </div>
          
    </div>
</header>