
<div class = "w:full">
    <hr class = "bd:findigogray mg-y:c1 opacity:0.2">
    <div class = "row:x-between:y-center">
        <h6 class = "font:h5:sans:light text:findigogray">Want To See More Of Our Work?</h6>
        <a class = "row:x-center:y-center bg-color:fwhite text:fblack pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 child:start font:sans bd:round-d2 font:bold row:x-center">See More<img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg"></a>
    </div>
</div>