<div class="ctx:cascadeTitle bg-color:darkpurple w:full col:x-start:y-start /xl/ grid:cols-5-fr:rows-1:gap-d12 ctx:end">
        
    <div class = "col-spans:from-1:to-4 bd:round-d6 col:x-start:y-between"> 
        <h2 class = "font:h6:regular:sans text:fwhite mg-b:d6 /lg/ mg-b:c3">We Believe In Beautiful</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief">
            We dive into every challenge to craft the best solutions, because we believe the best solutions are inherently beautiful and beauty is a language everyone understands, whether online, on social media, or in print.</p>
    </div>

    <div class = "col-spans:from-4:to-6 bd:round-d6 col:y-between:x-end mg-t:c1 /lg/ mg-t:0"> 
        <div class = "col:x-start:y-end h:full">
            <h2 class="ctx:spreadTitle block font:sans:h4:light:wide text:findigogray:chunk:normal:left /lg/ text:right:chunk ctx:end">
                We believe that <span class="text:white font:serif">every idea</span> is an opportunity to grow your <span class="text:white font:serif">business</span>, create <span class="text:white font:serif">new possibilities</span>, and sharpen your <span class="text:white font:serif">competitive edge</span>.</h2>
              </h2>
              
        </div>

    </div>

</div>