
    <div class = "w:full">
        <div class = "-lumino ctx:monolithImage row:x-center:y-center h:s2 bg-img:(url(/images/birdgirl.png)) bg-attr:no-repeat:cover:center bd:round-d4 /md/ h:s6 ctx:end">
            <h2 class = "font:sans:bold:h4 text:fwhite /md/ font:h2">Let's Dream Bigger</h2>
        </div>
    </div>
