<div class = "w:full h:s6 bg-color:black pd-y:d12 contain">



    <div class = "grid:cols-3-fr:rows-1:gap-d6 h:full">

      <div class ="col-spans:from-1:to-3">
        <div class = "w:full h:full bg-attr:cover:center-center bg-img:(url(/images/davidsonscene.png)) bd:r-d6"></div>
      </div>


    </div>



</div>
