
<div class = "col:x-start">

    <div class = "ctx:clientGrid w:full col:x-start:y-start /lg/ grid:cols-9-fr:rows-1:gap-d6 ctx:end">

        <div class = "ctx:clientFirst -lumino bd:round-d4 w:full col-spans:from-1:to-6 h:s4 bg-img:(url(/images/Poured.png)) bg-attr:no-repeat:cover:center mg-b:d4 /lg/ mg-b:0 ctx:end">
           
        </div>

        <div class = "ctx:clientSecond -lumino col:x-start:y-end w:full col-spans:from-6:to-10 bg-img:(url(/images/Ellington.PNG)) bg-attr:no-repeat:cover:center relative h:s4 bd:round-d4 z:0 overflow:hidden ctx:end">

            <div class = "absolute top:0 left:0 w:full h:full bd:round-d4 z:10 bg-attr:center:cover"></div>

            <div class = "mg-b:d12 mg-l:d12 relative z:20 col:y-center">
                
            </div>

        </div>

      


    </div>

</div>