
<div class = "col:x-start bg-color:fpurplealt">

        <div class = "ctx:cascadeGrid w:full col-r:x-start:y-start /lg/ grid:cols-9-fr:rows-1:gap-d6 ctx:end">

            <div class = "ctx:cascadeSecond col-spans:from-1:to-6 col:x-start w:full /lg/ grid:cols-2:rows-1:gap-d4 ctx:end">
                <div class = "-lumino ctx:cardOne col-spans:from-1:to-3 bg-img:(url(/images/carneyscene.png)) w:full bg-attr:center:cover h:s2 bd:round-d4 mg-b:d4 /lg/ mg-b:0 h:s6 ctx:end"></div>
                <div class = "-lumino ctx:cardTwo col-spans:from-3:to-5 bg-img:(url(/images/enszscene.png)) w:full bg-attr:center:cover h:s2 bd:round-d4 mg-b:d4 /lg/ mg-b:0 h:s6 ctx:end"></div>
            </div>


            <div class = "-lumino ctx:cascadeFirst col:x-start:y-end col-spans:from-6:to-10 relative w:full bd:round-d4 z:0 overflow:hidden h:s5 mg-b:d4 /lg/ h:s6 mg-b:0 ctx:end">

                <div class = "absolute top:0 left:0 w:full h:full bg-img:(url(/images/subwayblur.png)) bd:round-d4 z:10 bg-attr:center:cover"></div>

                <p class = "mg-l:d12 absolute left:0 top:0 z:40 font:sans:h2 text:fwhite opacity:0.3 /lg/ font:h1">“</p>

                <div class = "mg-b:d12 mg-x:d12 relative z:20 col:y-center">
                    <p class = "ctx:cascadeQuote font:sans:h4:sans:regular:tight text:fwhite:normal:note:hug mg-b:d4 /lg/ font:h3 ctx:end">When I am working on a problem, I never think about beauty. But when I have finished, if the solution is not beautiful, I know it is wrong.”</p>
                    <hr class = "bg-color:findigogray mg-y:d6 opacity:0.4 max-w:c12">
                    <p class = "ctx:quoteName font:sans:h5:regular:tight text:fwhite /lg/ font:h3 ctx:end">R. Buckminster Fuller</p>
                    <p class = "ctx:quoteTitle font:sans:h5:regular:tight text:fwhite opacity:0.3 /lg/ font:h4 ctx:end">American Architect</p>
                </div>
            </div>

        </div>

</div>