<header class="contain">
    <div class="relative -lumino w:full h:s6 bg-attr:no-repeat:cover:center bd:round-d6 @after:[absolute_top:0_h:full_w:full_pattern:plastic_opacity:0.4_z:40_empty_bd:round-d6]" style="background-image:url('/images/RaraPhone.png')">
    </div>
</header>