
    <div class = "w:full">
        <div class = "-lumino scope:monolithImage row:x-center:y-center h:s7 bg-img:(url(/images/birb.png)) bg-attr:no-repeat:cover:center bd:round-d4">
            <h2 class = "font:sans:bold:h1 text:fwhite">We Dream Bigger</h2>
        </div>
    </div>
