<div class="ctx:scopeTESTING w:full col:x-start:y-end /lg/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "h:full bd:round-d6 col:x-start:y-between /lg/ col-spans:from-1:to-3"> 
        <h2 class = "font:h6:regular:sans text:fwhite mg-b:d6 /lg/ mg-b:c3">I. Introductions Are In Order</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief mg-b:d6 /lg/ mg-b:0">
            We bring agency level design and development to small businesses everywhere. Our team is comprised of creative, technical and business talent who work closely with our clients to deliver innovative and aesthetically pleasing solutions to their unique individual needs.</p>
    </div>

    <div class = "bd:round-d6 col:y-between:x-end /lg/ col-spans:from-3:to-6"> 
            <h2 class="ctx:introTitle block font:sans:h4:light:wide text:findigogray:snug:brief /lg/ font:h3">We are an <span class = "text:white font:serif">independent</span> creative agency that believes that <span class = "text:white font:serif">process</span> and the pursuit of <span class = "text:white font:serif ctx:end">quality</span> are the keys to our client's long-term success.</h2>
    </div>

</div>