<div class="scope:cascadeTitle bg-color:fpurplealt w:full col:x-start:y-start /xl/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "col-spans:from-1:to-4 bd:round-d6 col:x-start:y-between"> 
        <h2 class = "font:h6:regular:sans text:fwhite mg-b:d4">IV. We Believe In Beautiful</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief">
            We're passionate about problem solving and we would genuinely love to help you do what you do best even better. Whether on the web, through social media, or in print, Rara Avis believes that everyone understands beautiful.</p>
    </div>

    <div class = "col-spans:from-4:to-6 bd:round-d6 col:y-between:x-end mg-t:c1 /lg/ mg-t:0"> 
        <div class = "col:x-start:y-end h:full">
            <h2 class="scope:spreadTitle block font:sans:h4:light:wide text:findigogray:chunk:normal:left /lg/ text:right:chunk">We believe that <span class = "text:white font:serif">every idea</span> has the potential to ignite <span class = "text:white font:serif">transformative change</span> for your business.</h2>
        </div>

    </div>

</div>