<div class = "h:c6 bg-color:fpurplealt w:full row:x-between:y-center overflow:hidden">
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Ideate</p>
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Innovate</p>
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Create</p>
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Iterate</p> 
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Ideate</p>
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Innovate</p>
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Create</p>
    <p class="text:fwhite font:sans:light:h5">●</p>
    <p class="text:fwhite font:sans:light:h5">Iterate</p> 
    <p class="text:fwhite font:sans:light:h5">●</p>
</div>