<div class = "h:c6 bg-color:fpurplealt w:full">
    <div class = "relative w:full h:full row:x-between:y-center overflow:hidden">
        <div class = "-fadeLeft absolute top:0 left:0 w:c4 h:full bg-color:fpurple"></div>
        <div class = "-fadeRight absolute top:0 right:0 h:full w:c4 bg-color:fpurple"></div>
        <p class = "text:findigogray font:h5:sans">Ideate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Create</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Iterate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Ideate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Create</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Iterate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Ideate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Create</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Iterate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Ideate</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Create</p>
        <p class = "text:findigogray font:h5:sans">●</p>
        <p class = "text:findigogray font:h5:sans">Iterate</p>
    </div>
</div>


