---
import SmartButton from "../subcomponents/SmartButton.astro";
---

<form
  id="emailForm"
  action="/actions/send-email"
  enctype="multipart/form-data"
  method="post"
  
  class="-slip2 col:x-stretch w:full /md/ row"
>
  <input
    name="message"
    type="email"
    placeholder="What's Your Email?"
    class="@placeholder:[text:white_font:base] bg-color:purple text:white @focus:[outline:lightpurple] child:grow pd:d4:d2 mg-t:d4 mg-b:d4 min-w:0 bd:solid:white /md/ mg-t:0 mg-b:0"
    required
  />
  <SmartButton
    title="Let's Go"
    type="submit"
    id="footerButton"
    link=""
    bgClass="bg-white"
    textClass="text-black"
    mobile={true}
    arrow={true}
  />
</form>