---
import SmartButton from "../subcomponents/SmartButton.astro";
---

<form
  id="emailForm"
  action="/actions/send-email"
  enctype="multipart/form-data"
  method="post"
  
  class="-slip2 col:x-stretch w:full /md/ row"
>
  <input
    name="message"
    type="email"
    placeholder="What's Your Email?"
    class="@placeholder:[text:white_font:base:sans] bg-color:purple text:white @focus:[outline:lightpurple_text:black_bg-color:white_font:sans_bd:dotted] pd-l:d4 pd-y:d4 child:grow min-w:0 bd:solid:white:round-d2"
    required
  />
 
  <button type = "submit" id = "footerButton" class = "bg-color:white text:black mg-l:d2 pd-x:d4 pd-y:d2 bd:round-d2 font:sans:bold row:x-center:y-center">Let's Go <img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg"></button>

</form>