---

interface Props {
    ui?: number;
    promo?: number;
    rebrand?:number;
    logo?:number;
}

const { ...props } = Astro.props;
---

<div class="absolute top:0 right:0 w:full row:x-end:y-center pd-t:d4 pd-r:d4">

{props.ui && (
    <div class="pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 bg-color:warn text:white font:small">
        <p>UI/UX</p>
    </div>
)}

{props.promo && (
    <div class="pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 bg-color:warn text:white font:small">
        <p>Promo</p>
    </div>
)}

{props.rebrand && (
    <div class="pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 bg-color:warn text:white font:small">
        <p>Rebrand</p>
    </div>
)}

{props.logo && (
    <div class="pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 bg-color:warn text:white font:small">
        <p>Logo</p>
    </div>
)}

</div>