<div class="mt-d6">
    <div class="py-c5 w-full buffer flex flex-row justify-center items-center">
        <h2 class="text-h4 font-bold leading-tight text-black mb-d3 max-w-extra-narrow leading-relaxed">We're On a Mission</h2>
    </div>
  </div>