<div class="buffer grid grid-cols-1 grid-rows-3 gap-d6 mt-d6 xl:grid xl:grid-cols-3 xl:grid-rows-1">
    <div class="bg-purple w-full h-s2 rounded-md flex flex-col justify-between items-start p-d8 leading-snug fade-in">
      <div class="w-full flex flex-row justify-between items-start">
      <p class="text-h5 text-white tracking-widest">Elevating Your</p>
      <img class="h-d10 w-auto" src="images/share.svg">
      </div>

      <div>
      <h3 class="text-h3 text-white font-serif mb-d1">Social Media</h3>
      <p class="text-h6 text-white">Amplifying your voice with precision and finesse in the evolving digital landscape.</p>
      </div>
    </div>
    <div class="bg-black w-full h-s2 rounded-md flex flex-col justify-between items-start p-d8 leading-snug fade-in">
      <div class="w-full flex flex-row justify-between items-start">
        <p class="text-h5 text-white tracking-widest">Crafting Your</p>
        <img class="h-d10 w-auto" src="images/eye.svg">
        </div>
      <div>
      <h3 class="text-h3 text-white font-serif mb-d1">Visual Identity</h3>
      <p class="text-h6 text-white">Transforming your vision into powerful and captivating visual narratives.</p>
      </div>
    </div>
    <div class="bg-grey w-full h-s2 rounded-md flex flex-col justify-between items-start p-d8 leading-snug fade-in">
      <div class="w-full flex flex-row justify-between items-start">
        <p class="text-h5 text-black tracking-widest">Shaping Your</p>
        <img class="h-d10 w-auto" src="images/mouse.svg">
        </div>
      <div>
      <h3 class="text-h3 text-black font-serif mb-d1">Digital Footprint</h3>
      <p class="text-h6 text-black">Crafting sophisticated digital experiences with expertise and efficiency.</p>
      </div>
    </div>
  </div>