<div class="my-c3 fade-in">
    <div class="py-c10 bg-black w-full buffer">
      <div>
        <div class="grid grid-cols-1 xl:grid xl:grid-cols-3 xl:gap-d12">

          <div class="col-span-1 xl:col-span-2">
            <div class="h-full w-full bg-cover bg-center rounded-md" style="background-image: url('/images/davidsonscene.png');">
            </div>
          </div>
          
          <div class="col-span-1">
            <h2 class="text-h3 font-bold leading-tight text-white mb-d3">Our Big Ideas Fuel Our Extraordinary Creativity</h2>
            <p class="text-base leading-normal text-white max-w-medium leading-relaxed">
              And we believe that creativity has the power to transform businesses. Our passion lies in creating beautiful, accessible, and powerful solutions that elevate brands to new heights and captivate their audiences. Quality is our metric and we abide by three guiding principles:
            </p>
          <div class="slip">
            <div class="w-full flex flex-row justify-start items-center mt-d6">
              <div class="bg-purple p-d3 rounded-md">
                <img class="w-d8 h-d8" src="/images/design.svg">
              </div>
              <h2 class="ml-d6 text-h5 text-white">We Craft with Impact</h2>
            </div>
            <p class="text-white text-base mt-d5 max-w-medium leading-relaxed">We create visually striking and emotionally resonant experiences that leave a lasting impression. Our designs go beyond aesthetics, driving meaningful engagement with your brand.</p>
          </div>

          <div class="slip2">
            <div class="w-full flex flex-row justify-start items-center mt-d6">
              <div class="bg-purple p-d3 rounded-md">
                <img class="w-d8 h-d8" src="/images/code.svg">
              </div>
              <h2 class="ml-d6 text-h5 text-white">Process is Our North Star</h2>
            </div>
            <p class="text-white text-base mt-d5 max-w-medium leading-relaxed">Our refined, iterative process guides every project from conception to completion. This approach ensures consistent quality and transforms challenges into elegant solutions.</p>
          </div>

          <div class="slip3">
            <div class="w-full flex flex-row justify-start items-center mt-d6">
              <div class="bg-purple p-d3 rounded-md">
                <img class="w-d8 h-d8" src="/images/accessible.svg">
              </div>
              <h2 class="ml-d6 text-h5 text-white">The Journey Belongs To All Of Us</h2>
            </div>
            <p class="text-white text-base mt-d5 max-w-medium leading-relaxed">We're committed to creating experiences that are both visually striking and accessible to everyone. Our inclusive design ensures your brand resonates with the widest possible audience.</p>
          </div>   
          </div>
      
        </div>
      </div>
    </div>
  </div>