
<nav class="bg-purple p-d4 w-full buffer flex flex-row justify-between items-between">
  <img src = "https://placehold.co/60x60">
  <div>
    <ul class="list-none space-x-d4">
      <li class="inline-block text-white">Home</li>
      <li class="inline-block text-white">Works</li>
      <li class="inline-block text-white">Our Story</li>
      <li class="inline-block text-black bg-grey p-d4 rounded-lg">Contact Us</li>
    </ul>
  </div>
</nav>



