<div class="mt-d6">
  <div class="py-c5 w-full buffer">
    <div>
      <div class="grid grid-cols-1 xl:grid xl:grid-cols-2 xl:gap-d12">

        <div class="col-span-1">
          <h2 class="text-h3 font-bold leading-tight text-black mb-d3 max-w-extra-narrow leading-relaxed">Your Partners In Creativity: If You Can Dream It, We Can Build It.</h2>
        </div>
        
        <div class="col-span-1 flex flex-row justify-end">
          <div>
            <h2 class="text-h5 font-normal leading-tight text-darkgrey mb-d3 max-w-narrow leading-relaxed">
              We thrive at the intersection of art and technology. Our team crafts digital experiences and breakthrough branding that transforms small businesses. We deliver solutions that seamlessly blend form with function. Your vision is the spark and together, we can shape your future.</h2>
            <button class="text-h6 font-bold font-sans text-white bg-black px-d4 py-d2 rounded-lg whitespace-nowrap self-start mt-d6">Get Started</button>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>