---
import Navigation from "../../src/components/Navigation.astro";
import Footer from "../../src/components/Footer.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preload" href="/fonts/Sk-Modernist-Regular.otf" as="font" type="font/otf" crossorigin>
    <title>
      Elevate Your Expectations
    </title>
  </head>
  <body class="antialiased bg-white">
<Navigation>
</Navigation>
<slot/>
<Footer>
</Footer>

<script src="../js/scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" is:raw></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" is:raw></script>

</body>
</html>