<div class="contain ctx:homeQuote w:full col:x-start:y-start /xl/ grid:cols-5-fr:rows-1:gap-d12">
    
    <div class = "col-spans:from-1:to-3 bd:round-d6 col:x-start:y-center h:full"> 
        <div class = "col:x-start:y-between h:full">
            <h2 class = "font:h6:regular:sans text:fwhite mg-b:d4">VII. And Our Clients Know It</h2>
           <p class = "font:h6:sans:regular:tight text:findigogray:brief">Benton's brought us unique challenges across the gamut of our skillsets, but we approached their problems with the same confidence and creativity that we bring to every project.</p>
        </div>
    </div>


    <div class = "col-spans:from-3:to-6 bd:round-d6 col:y-end:x-start mg-t:c1 /lg/ mg-t:0"> 
        <div class = "col:x-end:y-between w:full">


            <div>
                <p class = "block font:sans:h2 text:findigogray">“</p>
                <h2 class="font:sans:h4:light:wide text:chunk:findigogray:normal">The team at Rara Avis is a breath of fresh air. They have a unique perspective and a commitment to quality that sets them apart from creatives we've worked with in the past.</h2>
                <hr class = "bg-color:findigogray mg-y:d6 opacity:0.4 max-w:c12">
                <p class = "font:sans:h5:regular:tight text:fwhite mg-b:d3">Andrew Benton</p>
                <p class = "font:sans:h6:regular:tight text:fwhite opacity:0.3 ctx:end">Benton's Maintenance</p>
            </div>
        </div>

    </div>



</div>

