<div>
  <div class="w:full contain">
    <div>
      <div class="grid:cols-1-fr /lg/ grid:cols-2:gap-d12">

        <div class="col-spans:to-2">
          <p class="font:sans:h5:medium:tight text:fwhite mg-b:d2 format:no-wrap">Proud To Be</p>
          <h2 class="-slip font:sans:h4:bold:tight text:fwhite:note mg-b:d6 /lg/ font:h3 /xl/ mg-b:0">Your Partners In Creativity: If You Can Dream It, We Can Build It.</h2>
        </div>
        
        <div class="-fade-in col-spans-all row:x-start:y-center /lg/ col-spans:from-2:to-3 row:x-end:y-end">
          <div>
            <h2 class="font:sans:h6:regular:tight text:fwhite:brief:loose">
              We thrive at the intersection of art and technology. Our team crafts digital experiences and breakthrough branding that transforms small businesses. We deliver solutions that seamlessly blend form with function. Your vision is the spark and together, we can shape your future.</h2>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>