<div class="w:full contain bg-color:grey pd-t:c6 pd-b:c6 grid:cols-1:rows-1:gap-d6 /lg/ grid:cols-3:rows-1:gap-d6">
    <div class="col-spans:to-2 col:x-center:y-start">
    <p class="font:base mg-b:d1 format:no-wrap">Case Study</p>
    <p class="font:h5:bold:tight text:black mg-b:d6 format:no-wrap">Benton's Inc</p>
    <h1 class="font:h4:bold:tight text:black:note:relaxed  mg-b:d6 ">Bringing It Home: Benton's Does Your Household Maintenance Differently.</h1>
    <p class="font:h6:regular:tight text:darkgrey:brief:loose mg-b:d6">Benton's Inc. stands as a pillar of community-focused home maintenance, specializing in HVAC, plumbing, and electrical services. Their people-first approach sets them apart in an industry often criticized for impersonal service. By prioritizing prompt phone responses, punctual arrivals, and delivering exceptional quality work, Benton's has earned a reputation for reliability and professionalism. Our collaboration with Benton's Inc involved a comprehensive brand overhaul, breathing new life into their visual identity and positioning them for continued success in their market.</p>
    <p class="font:h6:regular:tight text:darkgrey:brief:loose ">As part of this rebranding effort, we crafted a modern, user-friendly website that showcases their expertise and makes it easy for customers to engage their services. Beyond the purely digital realm, our team manages Benton's social media presence, ensuring consistent community engagement and reinforcing their position as a trusted local resource. Through strategic content and timely updates, we've helped Benton's Inc. strengthen their connection with both existing and potential customers. This multifaceted approach has solidified their status as the go-to provider for home maintenance needs in their service area, further emphasizing their commitment to quality service and community values.</p>
    <a href ="https://www.bentonsinc.com" class="text:white font:base:sans:bold bg-color:black mg-t:d6 mg-b:c3 format:no-wrap pd:d4:d2 ">Visit Benton's</a>
  </div>
    
   

    <div class="col-spans:to-2 w:full grid:cols-1:rows-1:gap-d6 /lg/ h:s7 grid:cols-3:rows-2:gap-d6 col-spans:to-3">

        <div class="grid:cols-2:rows-2:gap-d6 col-spans:to-2 bd:round-d6 overflow:hidden row-spans:to-3 /lg/ col-spans:to-3">
            <div class="col-spans:to-3 row-spans:to-3 grid:rows-2 h:full">
              <!-- object-cover object-center -->
                <img src="/images/bentonslaptop.png" alt="Benton Promo" class="h:s1 w:full bd:round-d6 /lg/ h:full">
            </div>
        </div>
    
        <div class="col-spans:to-2 row-spans:to-3 grid:cols-1:rows-2:gap-d6">
          <div class="bg-color:grey bd:round-d6">
            <div class="bg-attr:contain:no-repeat:center h:s1 /lg/ h:full" style="background-image: url('/images/bentonssurge.jpg');">
            </div>
          </div>
          <div>
            <div class="bg-attr:cover:no-repeat:center bd:round-d6 h:s1 /lg/ h:full" style="background-image: url('/images/bentonstva.png');">
            </div>
          </div>
        </div>
      </div>



  </div>