
<div class="w:full contain bg-color:darkpurple pd-t:c5 pd-b:c5 grid:cols-1:rows-2:gap-d6 /lg/ grid:cols-5-fr:gap-d6">

 
    <div class="ctx:aboutstory col-spans:from-1:to-1 /lg/ col-spans:from-1:to-3 pd-r:c1">
        <div class = "col:y-start:x-start /lg/ sticky top:d8">
            <img src = "/images/bentonssurgepromo.jpg" class = "-lumino bd:round-d4 w:full h:s2 fit:cover mg-b:c1 /lg/ h:auto">
        </div>
    </div>


    <div class="ctx:aboutMain col-spans:from-1:to-1 w:full col:y-start:x-start /lg/ col-spans:from-3:to-6">
        <div class="font:h5 text:blog">
            <p class="font:sans:h5 text:fwhite">Case Study</p>
    
            <p class="font:sans:h4:bold:tight text:fwhite:snug mg-y:d7 /lg/ font:h3">
                Bringing It Home: Benton’s Does Your Household Maintenance Differently.
            </p>

            <p class="-firstPara font:serif:h6:regular:wide text:fwhite:loose mg-b:d7 /lg/ font:h5">
                Benton’s Inc. stands as a pillar of community focused home maintenance, specializing in HVAC, plumbing, and electrical services. Their people first approach sets them apart in an industry often criticized for impersonal service. By prioritizing prompt phone responses, punctual arrivals, and exceptional quality work, Benton’s has earned a reputation for reliability and professionalism. Our collaboration with Benton’s Inc. involved a comprehensive brand overhaul, breathing new life into their visual identity and positioning them for continued success in their market.
            </p>
    
            <p class="font:serif:h6:regular:wide text:fwhite:loose /lg/ font:h5">
                As part of this rebranding effort, we crafted a modern, user friendly website that showcases their expertise and makes it easy for customers to engage their services. Beyond the digital realm, our team manages Benton’s social media presence, ensuring consistent community engagement and reinforcing their position as a trusted local resource.
            </p>
    
            <p class="font:sans:h5:regular:tight text:findigogray:snug:left:relaxed mg-y:d9 /lg/ mg-y:c1 font:h4">
                “We crafted a modern, user friendly website that showcases their expertise and makes it easy for customers to engage their services.”
            </p>
    
            <img src="/images/bentonslaptop.png" class="-lumino bd:round-d4 w:full h:s2 fit:cover mg-b:d9 /lg/ h:s6" alt="Benton’s website on laptop">
    
            <p class="font:serif:h6:regular:wide text:fwhite:loose mg-b:d7 /lg/ font:h5">
                Through strategic content and timely updates, we have helped Benton’s Inc. strengthen their connection with both existing and potential customers, solidifying their status as the go to provider for home maintenance in their service area. Together we have positioned Benton’s as a household name for dependable HVAC, plumbing, and electrical service, backed by a refreshed brand and ongoing community interaction.
            </p>
    
        </div>
    </div>
    





</div>