<div class="w:full contain bg-color:grey pd-t:c6 pd-b:c6 grid:cols-1:rows-1:gap-d6 /lg/ grid:cols-3-fr:rows-2:gap-d6">



  <div class = "col-spans:from-1:to-1">
    <p class = "text:note:darkgrey font:sans:base mg-b:d2"> Case Study </p>
    <h3 class = "text:note:black font:sans:h5 mg-b:d2">Benton's Inc</h3>
    <h2 class = "text:note:black:snug font:sans:h4 mg-b:d4">Bringing It Home: Benton's Does Your Household Maintenance Differently.</h2>
    <p class = "text:brief:darkgrey font:sans:base mg-b:d4">Benton's Inc. stands as a pillar of community-focused home maintenance, specializing in HVAC, plumbing, and electrical services. Their people-first approach sets them apart in an industry often criticized for impersonal service. By prioritizing prompt phone responses, punctual arrivals, and delivering exceptional quality work, Benton's has earned a reputation for reliability and professionalism. Our collaboration with Benton's Inc involved a comprehensive brand overhaul, breathing new life into their visual identity and positioning them for continued success in their market.</p>
    <p class = "text:brief:darkgrey font:sans:base mg-b:d6">As part of this rebranding effort, we crafted a modern, user-friendly website that showcases their expertise and makes it easy for customers to engage their services. Beyond the purely digital realm, our team manages Benton's social media presence, ensuring consistent community engagement and reinforcing their position as a trusted local resource. Through strategic content and timely updates, we've helped Benton's Inc. strengthen their connection with both existing and potential customers. This multifaceted approach has solidified their status as the go-to provider for home maintenance needs in their service area, further emphasizing their commitment to quality service and community values.</p>
    <a href = "https://www.bentonsinc.com" class = "row:x-center:y-center bg-color:black text:white pd-x:d4 pd-y:d2 font:sans bd:round-d2 font:bold max-w:c11 mg-b:d8">Visit Bentons<img class="mg-l:d3 h:d7 w:auto mg-t:d1" src="/images/arrowright.svg"></a>
  </div>


    <div class = "scope:2ndcolcontainer col-spans:from-1:to-1 grid:cols-1:gap-d6 h:s10 /lg/ h:auto col-spans:from-2:to-4 grid:cols-3:gap-d6">

      <div class = "scope:1stcol col-spans:from-1:to-1 h:full w:full bg-color:grey bg-img:(url(/images/bentonslaptop.png)) bg-attr:cover:center bd:round-d6 /lg/ col-spans:from-1:to-3 row-spans:from-1:to-3">
      
      </div>

      <div class = "scope:2ndcol col-spans:from-1:to-1 h:full w:full bg-img:(url(/images/bentonssurge.jpg)) bg-attr:cover:center bd:round-d6 /lg/ col-spans:from-3:to-3 ">

      </div>

      <div class = "scope:3rdcol col-spans:from-1:to-1 h:full w:full bg-img:(url(/images/bentonstva.png)) bg-attr:cover:center bd:round-d6 /lg/ col-spans:from-3:to-3">

      </div>

    </div>



  </div>
</div>