
<div class="ctx:scopeTESTING w:full col:x-start:y-end /lg/ grid:cols-5-fr:rows-1:gap-d12">
        
    <div class = "h:full bd:round-d6 col:x-start:y-between /lg/ col-spans:from-1:to-3"> 
        <h2 class = "font:h6:regular:sans text:fwhite mg-b:d6 /lg/ mg-b:c3">We Believe In Craft</h2>
        <p class = "font:h6:sans:regular:tight text:findigogray:brief mg-b:d6 /lg/ mg-b:0">
          We combine inspired design with meticulously considered code to build genuine bridges to your audience and deliver seamless print and digital experiences engineered to resonate, spark engagement, and drive your business forward.</p>
    </div>

    <div class="bd:round-d6 col:y-between:x-end /lg/ col-spans:from-3:to-6"> 
        <h2 class="ctx:introTitle block font:sans:h4:light:wide text:findigogray:snug:blob /lg/ font:h3">
          By fully immersing ourselves in each phase of the <span class="text:white font:serif">creative process</span>, we're able to form <span class="text:white font:serif">meaningful customer connections</span> across <span class="text:white font:serif">print</span> and <span class="text:white font:serif">pixel.</span>
        </h2>
      </div>
      


</div>

