<div>
  <div class="w:full contain">
    <div>
      <div class="grid:cols-1 /lg/ grid:cols-2:gap-d12">

        <div class="col-spans:to-2">
          <p class="font:heading5:medium:tight text:purple mg-b:d2 format:no-wrap">Proud To Be</p>
          <h2 class="-slip font:heading4:bold:tight text:black:extra-narrow mg-b:d6 /lg/ mg-b:0 font:heading3">Your Partners In Creativity: If You Can Dream It, We Can Build It.</h2>
        </div>
        
        <div class="-fade-in col-spans:to-2 row:x-start:y-center /lg/ row:x-end:y-end">
          <div>
            <h2 class="font:heading6:regular:tight text:darkgrey:narrow:loose">
              We thrive at the intersection of art and technology. Our team crafts digital experiences and breakthrough branding that transforms small businesses. We deliver solutions that seamlessly blend form with function. Your vision is the spark and together, we can shape your future.</h2>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>