---
import SmartBadge from "../../subcomponents/SmartBadge.astro";
---

<div class="contain w:full grid:cols-1:rows-1:gap-d6 /lg/grid:cols-3:rows-2:gap-d6">

  <!-- space-y-d6 -->
  <div class="col-spans:to-2 row-spans:to-3  col:x-center:y-center h:full"> <!-- Added col-[center,center] and h-full -->
    <!-- flex-1 -->
    <div class="col w:full "> <!-- Added flex-1 -->
      <div class="relative h:s1 /lg/ item:grow h:0"> <!-- Replaced h-s2 and /lg/ h-full with flex-grow h-0 -->
        <!-- object-cover object-center -->
        <img src="/images/carneyscene.png" alt="Poured Promo" class="w:full h:full bd:r-d6"   style="clip-path: polygon( 0% 0%,0% 100%,0% 100%,1.265% 100%,4.7% 100%,9.761% 100%,15.906% 100%,22.594% 100%,29.282% 100%,35.428% 100%,40.489% 100%,43.923% 100%,45.189% 100%,45.189% 100%,45.969% 99.937%,46.709% 99.755%,47.4% 99.463%,48.03% 99.072%,48.591% 98.591%,49.072% 98.03%,49.463% 97.4%,49.755% 96.709%,49.937% 95.969%,50% 95.189%,50% 94.834%,50% 94.834%,50.063% 94.05%,50.246% 93.306%,50.54% 92.612%,50.933% 91.979%,51.416% 91.416%,51.979% 90.933%,52.612% 90.54%,53.306% 90.246%,54.05% 90.063%,54.834% 90%,95.06% 90%,95.06% 90%,95.861% 89.935%,96.621% 89.748%,97.33% 89.449%,97.977% 89.047%,98.553% 88.553%,99.047% 87.977%,99.449% 87.33%,99.748% 86.621%,99.935% 85.861%,100% 85.06%,100% 0%,100% 0%,97.2% -21.333%,89.6% -33.711%,78.4% -38.715%,64.8% -37.924%,50% -32.921%,35.2% -25.283%,21.6% -16.592%,10.4% -8.428%,2.8% -2.37%,0% -0% );">
        <SmartBadge promo={1} logo={1}></SmartBadge>
        <h4 class="absolute bottom:d3 left:d6 text:white font:base mg-t:d6">Logo & Promo</h4>
      <h4 class="absolute bottom:0 right:d2 text:darkgrey font:base">Carney Bookkeeping</h4>
      </div>
    </div>
    
    <!-- flex-1 -->
    <div class="col w:full"> <!-- Added flex-1 -->
      <div class="relative h:s1 /lg/ item:grow h:0"> <!-- Replaced h-s and /lg/ h-full with flex-grow h-0 -->
        <!-- object-cover object-center -->
        <img src="/images/bentonsscene.png" alt="Hungry Promo" class="w:full h:full bd:r-d6" style="clip-path: polygon( 0% 0%,0% 100%,0% 100%,1.265% 100%,4.7% 100%,9.761% 100%,15.906% 100%,22.594% 100%,29.282% 100%,35.428% 100%,40.489% 100%,43.923% 100%,45.189% 100%,45.189% 100%,45.969% 99.937%,46.709% 99.755%,47.4% 99.463%,48.03% 99.072%,48.591% 98.591%,49.072% 98.03%,49.463% 97.4%,49.755% 96.709%,49.937% 95.969%,50% 95.189%,50% 94.834%,50% 94.834%,50.063% 94.05%,50.246% 93.306%,50.54% 92.612%,50.933% 91.979%,51.416% 91.416%,51.979% 90.933%,52.612% 90.54%,53.306% 90.246%,54.05% 90.063%,54.834% 90%,95.06% 90%,95.06% 90%,95.861% 89.935%,96.621% 89.748%,97.33% 89.449%,97.977% 89.047%,98.553% 88.553%,99.047% 87.977%,99.449% 87.33%,99.748% 86.621%,99.935% 85.861%,100% 85.06%,100% 0%,100% 0%,97.2% -21.333%,89.6% -33.711%,78.4% -38.715%,64.8% -37.924%,50% -32.921%,35.2% -25.283%,21.6% -16.592%,10.4% -8.428%,2.8% -2.37%,0% -0% );">
        <SmartBadge rebrand={1} promo={1} logo={1}></SmartBadge>
        <h4 class="absolute bottom:d3 left:d6 text:white font:base mg-t:d6">Site Redesign</h4>
        <h4 class="absolute bottom:0 right:d2 text:darkgrey font:base">Benton's Inc</h4>
      </div>

    </div>
  </div>

  <div class="col-spans:to-2 row-spans:to-2 /lg/ col-spans:to-3 row-spans:to-3">
    
    <div class="h:full col">
      <div class="relative h:s1 w:full bd:r-d6 /lg/ h:s7 overflow:hidden">
        <!-- object-cover object-center  -->
        <img src="/images/enszscene.png" alt="Benton Promo" class="w:full h:full bd:r-d6" style="clip-path: polygon( 0% 0%,0% 100%,0% 100%,1.265% 100%,4.7% 100%,9.761% 100%,15.906% 100%,22.594% 100%,29.282% 100%,35.428% 100%,40.489% 100%,43.923% 100%,45.189% 100%,45.189% 100%,45.969% 99.937%,46.709% 99.755%,47.4% 99.463%,48.03% 99.072%,48.591% 98.591%,49.072% 98.03%,49.463% 97.4%,49.755% 96.709%,49.937% 95.969%,50% 95.189%,50% 94.834%,50% 94.834%,50.063% 94.05%,50.246% 93.306%,50.54% 92.612%,50.933% 91.979%,51.416% 91.416%,51.979% 90.933%,52.612% 90.54%,53.306% 90.246%,54.05% 90.063%,54.834% 90%,95.06% 90%,95.06% 90%,95.861% 89.935%,96.621% 89.748%,97.33% 89.449%,97.977% 89.047%,98.553% 88.553%,99.047% 87.977%,99.449% 87.33%,99.748% 86.621%,99.935% 85.861%,100% 85.06%,100% 0%,100% 0%,97.2% -21.333%,89.6% -33.711%,78.4% -38.715%,64.8% -37.924%,50% -32.921%,35.2% -25.283%,21.6% -16.592%,10.4% -8.428%,2.8% -2.37%,0% -0% );">
        <SmartBadge promo={1}></SmartBadge>
        <h4 class="absolute bottom:d3 left:d6 text:white font:base mg-t:d6">Total Rebrand</h4>
        <h4 class="absolute bottom:0 right:d2 text:darkgrey font:base">Ensz & Sons</h4>
      </div>
     
    </div>

  </div>
   


</div>

