  <div class="pt-c5 buffer flex flex-row justify-between items-center text-h5 font-sans text-black md:pt-s1 md:text-h3 lg:text-h2">
    <h1 class="hug font-normal">
      We <span id="typed"></span>
    </h1>
    <img class="slip h-[1em] w-auto" src="/images/Arrow.svg" alt="Arrow">
  </div>

  <script src="../../js/typeEffect.js"></script>