---
import Navigation from "../components/Layout/Navigation.astro";
import Footer from "../components/Layout/Footer.astro"
import { Head } from 'astro-capo'
---

<!DOCTYPE html>
<html lang="en">
  <Head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      Elevate Your Expectations
    </title>
  </Head>
  <body class="antialiased bg-white opacity-0">
<Navigation>
</Navigation>
<slot/>
<Footer>
</Footer>

<script src="../js/scroll.js"></script>
<script src = "../js/pageLoad.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" is:raw></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" is:raw></script>

</body>
</html>