
<div class=" buffer w-full my-c3 buffer grid-[1,1,d6] /lg/ grid-[3,2,d6]">

  <div class = "span-[1,2] space-y-d6">

    <div class = "flex flex-col">
      <img src="/images/carneyscene.png" alt="Carney Promo" class = "h-auto grow w-full object-cover object-center rounded-md">
      <h4 class = "slip text-black text-base mt-d6">Logo & Promotional</h4>
      <h4 class = "slip2 text-darkgrey text-base">Carney Bookkeeping</h4>
    </div>
    
    <div class = "flex flex-col">
      <img src="/images/bentonsscene.png" alt="Benton's Promo" class = "h-auto grow w-full object-cover object-center rounded-md">
      <h4 class = "slip text-black text-base mt-d6">Redesigned Website & Social Media</h4>
      <h4 class = "slip2 text-darkgrey text-base">Benton's Inc</h4>
    </div>

  </div>


  <div class = "span-[1,1] /lg/ span-[2,2]">
    
    <div class = "h-full flex flex-col">
      <img src="/images/enszscene.png" alt="Ensz Promo" class = "h-auto grow w-full object-cover object-center rounded-md">
      <h4 class = "slip text-black text-base  mt-d6">Logo & Brand Guidelines</h4>
      <h4 class = "slip2 text-darkgrey text-base">Ensz & Sons</h4>
    </div>

  </div>
  


</div>

