<div class=" buffer w-full my-c3 buffer grid-[1,1,d6] /lg/ grid-[3,2,d6]">

  <div class = "span-[1,1] /lg/ span-[2,2]">
    
    <div class = "h-full flex flex-col">
      <div class = "h-s1 w-full /lg/ h-full bg-purple">
        <img src="/images/bentonpromo.png" alt="Benton Promo" class = "w-full h-full object-cover object-center rounded-md">
      </div>
      <h4 class = "slip text-black text-base  mt-d6">Concept Van Design</h4>
      <h4 class = "slip2 text-darkgrey text-base">Benton's Inc</h4>
    </div>

  </div>

  <div class="span-[1,2] space-y-d6 col-[center,center] h-full"> <!-- Added col-[center,center] and h-full -->
    <div class="flex flex-col w-full flex-1"> <!-- Added flex-1 -->
      <div class="h-s1 /lg/ flex-grow h-0"> <!-- Replaced h-s2 and /lg/ h-full with flex-grow h-0 -->
        <img src="/images/pouredpromo.png" alt="Poured Promo" class="w-full h-full object-cover object-center rounded-md">
      </div>
      <h4 class="slip text-black text-base mt-d6">Business Cards</h4>
      <h4 class="slip2 text-darkgrey text-base">Poured Out Art</h4>
    </div>
    
    <div class="flex flex-col w-full flex-1"> <!-- Added flex-1 -->
      <div class="h-s1 /lg/ flex-grow h-0"> <!-- Replaced h-s and /lg/ h-full with flex-grow h-0 -->
        <img src="/images/hungrypromo.png" alt="Hungry Promo" class="w-full h-full object-cover object-center rounded-md">
      </div>
      <h4 class="slip text-black text-base mt-d6">New Logo</h4>
      <h4 class="slip2 text-darkgrey text-base">The Hungry Haberdasher</h4>
    </div>
  </div>
  


</div>

