<div class=" buffer w-full my-c3 buffer grid-[1,1,d6] /lg/ grid-[3,2,d6]">

  <div class = "span-[1,1] /lg/ span-[2,2]">
    
    <div class = "h-full flex flex-col">
      <img src="/images/bentonpromo.png" alt="Benton Promo" class = "h-auto grow w-full object-cover object-center rounded-md">
      <h4 class = "slip text-black text-base  mt-d6">Concept Van Design</h4>
      <h4 class = "slip2 text-darkgrey text-base">Benton's Inc</h4>
    </div>

  </div>

  <div class = "span-[1,2] space-y-d6">

    <div class = "flex flex-col">
      <img src="/images/pouredpromo.png" alt="Poured Promo" class = "h-auto grow w-full object-cover object-center rounded-md">
      <h4 class = "slip text-black text-base mt-d6">Business Cards</h4>
      <h4 class = "slip2 text-darkgrey text-base">Poured Out Art</h4>
    </div>
    
    <div class = "flex flex-col">
      <img src="/images/hungrypromo.png" alt="Hungry Promo" class = "h-auto grow w-full object-cover object-center rounded-md">
      <h4 class = "slip text-black text-base mt-d6">New Logo</h4>
      <h4 class = "slip2 text-darkgrey text-base">The Hungry Haberdasher</h4>
    </div>

  </div>
  


</div>

