<div class="my-c6">
  <div class="w-full buffer">
    <div>
      <div class="grid-[1] /lg/ grid-[2,_,d12]">

        <div class="col-span-1">
          <h2 class="slip text-[h4,bold,_,tight,_,_,black] mb-d6 max-w-extra-narrow leading-relaxed /lg/ text-h3">Your Partners In Creativity: If You Can Dream It, We Can Build It.</h2>
        </div>
        
        <div class="fade-in col-span-1 row-[start,center] /lg/ row-[end,center]">
          <div>
            <h2 class="text-[h6,normal,_,tight,_,_,darkgrey] max-w-narrow leading-relaxed">
              We thrive at the intersection of art and technology. Our team crafts digital experiences and breakthrough branding that transforms small businesses. We deliver solutions that seamlessly blend form with function. Your vision is the spark and together, we can shape your future.</h2>
          </div>
        </div>
    
      </div>
    </div>
  </div>
</div>