---
---
<div class="w-full my-c3 buffer grid-[1,1,d6] /lg/ grid-[3,2,d6]">
    <div class="col-span-1 row-span-2 grid-[0,2,d6]">
      <div>
        <div class="bg-cover bg-center rounded-md h-s2" style="background-image: url('/images/pouredpromo.png');">
        </div>
        <h4 class = "slip text-h6 mt-d6">Business Cards</h4>
        <h4 class = "slip text-base text-darkgrey">Poured Out Art</h4>
      </div>
      <div>
        <div class="bg-cover bg-center rounded-md h-s2" style="background-image: url('/images/hungrypromo.png');">
        </div>
        <h4 class = "slip text-h6 mt-d6">New Logo</h4>
        <h4 class = "slip text-base text-darkgrey">The Hungry Haberdasher</h4>
      </div>
    </div>
    
    <div class = "grid-[2,2,d6] col-span-1 row-span-2 /lg/ col-span-2">
        <div class = "col-span-2 row-span-2 grid grid-rows-[1fr,auto,auto] h-full">
            <img src="/images/bentonpromo.png" alt="Benton Promo" class="h-s2 w-full object-cover object-center rounded-md /lg/ h-full">
            <h4 class = "slip text-h6 mt-d6">Concept Van Design</h4>
            <h4 class = "slip text-base text-darkgrey">Benton's Inc</h4>
        </div>
    </div>
  </div>