
---
//Script Content Here
---


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Astro Page</title>
    <!-- Link to your CSS files or any other head elements here -->
  </head>
  <body>
    <section class = "space h-c5 bg-purple /md/ bg-black">
        <div class = "content">
            <h1 class ="text-white bg-warn pad-[d2,d2] /md/ pad-[d4,d4]">Testing</h1>
        </div>
    </section>
  </body>
</html>




