<div class="mt-d6">
    <div class="py-c5 w-full buffer row-[center,center]">
        <h2 class="text-[h4,bold,_,tight,_,_,black] mb-d3 max-w-extra-narrow leading-relaxed">We're On a Mission</h2>
    </div>
  </div>