<div class="mt-d6 bg-purple buffer pb-c6">
    <div class="colr-[center,start] h-s4 /xl/ row-[between,center] h-s1">
        <div class="space-y-d3">
            <h1 class="text-[h5,bold,_,hug,_,widest,white] mt-d12 /xl/ text-h4 mt-0">We're Ready When You Are.</h1>
            <p class="text-[h5,_,_,hug,_,_,white]">creative@raraavis.design</p>
            <p class="text-[h5,_,_,hug,_,_,white]">256-388-9385</p>
        </div>

        <div class="max-w-full">
            <p class="text-[h4,bold,_,tight,_,widest,white] /md/ my-d3">Let's Start The Conversation.</p>
            <div class="col items-stretch space-x-0 w-full /md/ row space-x-d4">
                <input type="email" placeholder="What's Your Email?" class="placeholder:text-white placeholder:text-base bg-purple flex-grow px-d4 py-d2 my-d4 rounded-md min-w-0 border-[_,d1,solid,white] /md/ my-0">
                <button class="text-[h6,bold,sans,_,_,_,black] bg-white px-d4 py-d2 rounded-lg whitespace-nowrap self-start">Submit</button>
            </div>
        </div>
    </div>

    <div class="col-[start,start] /xl/ row-[between,end]">
        <div class="row-[center,center] space-x-d3">
            <img class="h-d8 w-auto" src="images/facebook.svg">
            <img class="h-d8 w-auto" src="images/linkedin.svg">
        </div>
        <h1 class="text-[h3,bold,_,tight,_,_,white] mt-d6 /xl/ mt-0">Elevate Your Expectations.</h1>
    </div>
</div>