  <div class="pt-s1 buffer row-[between,center] text-[h4,_,sans,_,_,_,black] /md/ text-h3 /lg/ text-h2">
    <h1 class="leading-[0] font-normal">
      We <span id="typed"></span>
    </h1>
    <img class="h-[1em] w-auto" src="/images/Arrow.svg" alt="Arrow">
  </div>

  <script src="../js/typeEffect.js"></script>