<div class="w-full mt-d6 buffer grid-[1,1,d6] /lg/ grid-[3,2,d6]">
    <div class="col-span-1 row-span-2 grid-[0,2,d6]">
      <div class="bg-cover bg-center rounded-md h-s2" style="background-image: url('/images/pouredpromo.png');">
      </div>
      <div class="bg-cover bg-center rounded-md h-s2" style="background-image: url('/images/hungrypromo.png');">
      </div>
    </div>
    
    <div class="bg-cover bg-center rounded-md col-span-1 row-span-2 h-s2 /lg/ h-full col-span-2" style="background-image: url('/images/bentonpromo.png');">
    </div>
  </div>