<div class="w-full mt-d6 buffer bg-grey py-c10 grid-[1,1,d6] /lg/ grid-[3,1,d6]">
    <div class="col-span-1">
    <p>Case Study</p>
    <h1>Benton's Inc</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Tempus suspendisse sagittis non ornare dignissim ridiculus velit. Venenatis at tellus porttitor maximus hac molestie rhoncus lobortis vehicula. Ullamcorper dictumst sagittis duis dignissim sed lectus hendrerit. Molestie quis potenti pulvinar vestibulum tempus. Et fringilla lacus justo ut nisi ullamcorper lacus. Primis tellus aenean eleifend ligula odio, nascetur hendrerit montes. Mi sed velit curabitur nascetur tempor magna senectus.</p>
    <p>Dolor ipsum platea aliquam erat faucibus elementum aliquam. Turpis viverra pharetra molestie vestibulum malesuada blandit ac senectus. Nostra mattis tempus euismod feugiat vulputate fames curae urna erat. Scelerisque aliquet elit efficitur potenti proin blandit odio. Luctus pulvinar tellus vestibulum consectetur accumsan purus. Elementum interdum nascetur magnis aliquet sapien phasellus. Litora curabitur lorem ut lobortis sollicitudin; ligula laoreet egestas. Laoreet vehicula mi lectus quam sagittis diam mattis.</p>
    </div>
    
   

    <div class="col-span-1 w-full grid-[1,1,d6] /lg/ grid-[3,2,d6] col-span-2">

        <div class = "grid-[2,2,d6] col-span-1 row-span-2 /lg/ col-span-2">
            <div class = "col-span-2 row-span-2 grid grid-rows-[1fr,auto,auto] h-full">
                <img src="/images/enszscene.png" alt="Benton Promo" class="h-s2 w-full object-cover object-center rounded-md /lg/ h-full">
            </div>
        </div>
    
        <div class="col-span-1 row-span-2 grid-[0,2,d6]">
          <div>
            <div class="bg-cover bg-center rounded-md h-s2" style="background-image: url('/images/carneyscene.png');">
            </div>
          </div>
          <div>
            <div class="bg-cover bg-center rounded-md h-s2" style="background-image: url('/images/bentonsscene.png');">
            </div>
          </div>
        </div>
      </div>



  </div>